ChatPanel QPushButton#buttonAutoTranslate,
ChatPanel  QPushButton#buttonClear{
    max-height: 22px;
    max-width: 14px;
}

ChatPanel  QPushButton#buttonClear{
    background-image: url(:/images/broom.png);
    background-repeat: no-repeat;
    background-position: center;
}
ChatPanel QPushButton#buttonAutoTranslate{
    background-image: url(:/images/translate.png);
    background-repeat: no-repeat;
    background-position: center;
}

ChatMessagePanel{
    padding: 3px;
}

ChatMessagePanel #labelTimeStamp{
    font-size: 9px;
    font-style: italic;
}

ChatMessagePanel #labelUserName{
    font-size: 10px;
    font-weight: bold;
}

ChatMessagePanel #translateButton{
    height: 6px;
    min-height: 6px;
    padding: 2px;
    font-size: 8px;
    border: 1px solid rgba(0, 0, 0, 70);
}

ChatMessagePanel QPushButton:hover#translateButton{
    font-weight: bold;
}
