# C++ objects and libs

*.slo
*.lo
*.o
*.la
*.lai
*.so
*.dll
*.dylib

*.wav
*.exe
*.user
*.zip

*.DS_Store
*~


# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


# Jamtaba 

libs/
VST_SDK/
translations/*.qm
GeneratedFiles/
JamTaba.xcodeproj/
