/* Stylesheet for BaseTrack - Orange theme */


/* Track buttons
--------------------------------*/

#soloButton,
#muteButton
{
font-size: 9px;
border-color: rgb(110,110,110);
padding: 2px;
color: rgb(50,50,50);
}

#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero,
#soloButton,
#muteButton
{
     border-color: rgb(110,110,110);
     background: rgb(255, 197, 117);
}


#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero
{
    padding: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 1px;
}

#buttonBoostMinus12:checked,
#buttonBoostPlus12:checked,
#buttonBoostZero:checked
{
    background-color: rgb(253, 228, 156);
    color: rgba(0, 0, 0, 160);
    border-radius: 0px;
}

#buttonBoostMinus12:hover,
#buttonBoostPlus12:hover,
#buttonBoostZero:hover
{
    background-color: #FFC575;
    color: rgb(80, 80, 80);
    border-radius: 0px;
}

#buttonBoostMinus12:hover:checked,
#buttonBoostPlus12:hover:checked,
#buttonBoostZero:hover:checked
{
    background-color: rgb(253, 228, 186);
    color: rgb(40, 40, 40);
    border-radius: 0px;
}

QPushButton#buttonStereoInversion
{
    background-repeat: none;
    background-position: center center;
    max-width: 8px;
    max-height: 12px;
    background-color: rgb(255, 197, 117);
}

QPushButton#buttonStereoInversion:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(180, 180, 180), stop:1 rgb(120, 120, 120));
}

 QPushButton#buttonStereoInversion:checked
{
    background-color: rgb(250, 184, 135);
}

 QPushButton#buttonStereoInversion:hover:checked
{
    border-color: rgb(110,110,110);
    background-color: rgb(253, 228, 186)
}

/* button colors when the track is NOT xmiting */
BaseTrackView[unlighted="true"] #buttonBoostMinus12,
BaseTrackView[unlighted="true"] #buttonBoostZero,
BaseTrackView[unlighted="true"] #buttonBoostPlus12,
BaseTrackView[unlighted="true"] #soloButton,
BaseTrackView[unlighted="true"] #muteButton,
BaseTrackView[unlighted="true"] #buttonStereoInversion
{
    background-color: rgba(0, 0, 0, 30);
    border: none;
}

#buttonBoostZero:buttonStereoInversion
{
    border-bottom: none;
    border-top: none;
    border-style: solid;
    border-color: rgb(20, 20, 20);
}

#soloButton:hover,
#muteButton:hover
{
    background-color:#FFC575;
    color: rgba(0, 0, 0, 200);
}

#soloButton:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
    color: black;
}

#soloButton:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
    color: gray;
}

#muteButton:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
    color: gray;
}

#muteButton:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 110, 122), stop:1 rgb(120, 0, 0));
    color: white;
}

QPushButton#buttonStereoInversion:hover,
QPushButton#buttonStereoInversion:hover:checked
{
    background-color:#FFC575;
}

BaseTrackView[unlighted="true"] #buttonStereoInversion:hover, #buttonStereoInversion:hover:checked
{
    background-color: rgba(0, 0, 0, 80);
}

/* Small Label used to show max peak below peak meters
-------------------------------------------------------*/
BaseTrackView #peaksDbLabel
{
    color: rgb(140, 140, 140);
    border: 1px solid rgba(0, 0, 0, 8);
    background-color: rgba(0, 0, 0, 6);
}

BaseTrackView[unlighted="true"] #peaksDbLabel
{
   border: none;
   background-color: rgba(0, 0, 0, 10);
}


BaseTrackView
{
   background: rgb(250, 225, 169);
   border: none;/* 1px solid red;*/
   border-radius: 1px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   font-size: 8px; /*db value */
   padding: 1px;
}



/* Setting colors when the track is 'not transmiting'
-----------------------------------------------------*/
BaseTrackView[unlighted="true"] #panSlider::handle,         /* pan slider handle */
BaseTrackView[unlighted="true"] QSlider::handle:vertical    /* track fader handle */
{
    background: rgb(180, 180, 180);
    border-color: rgb(120, 120, 120);
}

BaseTrackView[unlighted="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgba(0, 0, 0, 150),
    stop:1 rgb(237, 227, 215));
}

TrackGroupView[unlighted="true"] > #topPanel                /* the track group top panel: used to show user name */
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(237, 227, 215),
    stop:1 rgba(0, 0, 0, 150));
}

/* -----------------------------------------*/


BaseTrackView #panSlider::handle
{
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(247, 247, 247), stop:1 rgb(200, 200, 200));
border: 1px outset rgb(180, 180, 180);

}

BaseTrackView #panSlider::handle:hover
{
    background-color: rgb(247, 247, 247);
}

BaseTrackView #levelSlider::handle:hover
{
    background-color: rgb(247, 247, 247);
}

PeakMeter
{
    background-color: rgba(0, 0, 0, 6);
    border: none;
    min-width: 4px;
    min-height: 4px;
}


/* TrackGroup - used as container for subchannels
---------------------------------------------------*/

TrackGroupView #topPanel
{
    background: rgb(255, 197, 117);

    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
