/* General stylesheet for Fire theme
-------------------------------------*/

/* Button ----------------------*/

QPushButton
{
    border-radius: 2px;
    border-style: outset;
    border-color: rgb(110,110,110);
    background-color: rgb(255, 197, 117);
}

QPushButton:checked
{
    border-style: inset;
    background-color: rgb(253, 228, 156);
    color: rgb(0,0,0);
}

QPushButton:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0    rgba(255, 255, 255, 200),
        stop:0.2 rgb(255, 251, 230),
        stop:0.7  rgb(255, 251, 230),
        stop:1    rgb(255, 252, 190));
}

QPushButton:hover:checked
{
    color: rgba(0, 0, 0, 160);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(140, 140, 140), stop:1 rgb(80, 80, 80));
    border: 1px outset rgb(10, 10, 10);
}

QPushButton[enabled="false"]
{
    background-color: rgba(0, 0, 0, 40);
    color: rgba(0, 0, 0, 100);
    border-color: rgba(0, 0, 0, 20);
}

/* Scroll bars ----------------------*/
QScrollBar:vertical,
QScrollBar:horizontal
{
    border: none;
    background-color: rgb(250, 225, 169);
    margin: 0px;
}

QScrollBar:vertical
{
    width: 14px;
    margin-left: 6px;
}

QScrollBar:horizontal
{
    height: 14px;
    margin-top: 6px;
}

QScrollBar::handle:horizontal
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
        stop:0 rgba(120, 126, 118, 80),
        stop:0.47 rgba(91, 91, 91, 80),
        stop:0.49 rgba(81, 75, 77, 80),
        stop:0.92 rgba(142, 140, 140, 80));

    max-height: 20px;
    height: 20px;
}

QScrollBar::handle:horizontal:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
        stop:0 rgba(140, 146, 138, 200),
        stop:0.47 rgba(121, 121, 121, 200),
        stop:0.49 rgba(111, 95, 97, 200),
        stop:0.92 rgba(172, 170, 170, 200)
    );
}


QScrollBar::handle:vertical
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
        stop:0.92 rgba(120, 126, 118, 80),
        stop:0.49 rgba(91, 91, 91, 80),
        stop:0.47 rgba(81, 75, 77, 80),
        stop:0 rgba(142, 140, 140, 80));

    max-width: 20px;
    width: 20px;
}

QScrollBar::handle:vertical:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
        stop:0.92 rgba(140, 146, 138, 200),
        stop:0.49 rgba(121, 121, 121, 200),
        stop:0.47 rgba(111, 95, 97, 200),
        stop:0 rgba(172, 170, 170, 200));
}

QScrollBar::handle:vertical
{
  max-height: 20px;
  height: 20px;
}

QScrollBar::handle:horizontal
{
  max-width: 20px;
  width: 20px;
}

QScrollBar::add-line:vertical
{
  border: none;
  height: 10px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal
{
  border: none;
  width: 10px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
  border: none;
  height: 10px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
  border: none;
  width: 10px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal
{
  background: none;
}



/* Text fields (QLineEdit class) used in user name, channel name, etc.
-----------------------------------------------------------------------*/
QLineEdit
{
    background-color: rgb(250, 225, 169);
    border-color: rgba(0, 0, 0, 45);
    color: rgb(127, 77, 26);
}

QLineEdit:focus
{
    background-color: rgb(250, 225, 169);
    color: black;
    selection-background-color: rgb(247, 247, 247);
    selection-color: rgb(140, 140, 140);
}

QLineEdit#groupNameField:focus, #userNameLineEdit:focus
{
    color: black;
    selection-background-color: rgb(247, 247, 247);
    selection-color: rgb(80, 80, 80);
}

/*  SLIDERs ++++++++++++++++++++++++++++++++ */

QSlider::groove:vertical
{
    border: none;
}

QSlider::groove:horizontal
{
    background-color: rgba(0, 0, 0, 50);
    height: 2px;
    border: none;
}
QSlider::groove:vertical
{
    background-color: rgba(0, 0, 0, 50);
    width: 2px;
}

QSlider::handle:horizontal
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(247, 247, 247), stop:1 rgb(200, 200, 200));
    border: 1px outset rgb(140, 140, 140);
    border-radius: 2px;
    margin-top: -8px;
    margin-bottom: -7px;
    padding: 0px;
    width: 8px;
    height: 15px;
}

QSlider::handle:vertical
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(247, 247, 247), stop:1 rgb(200, 200, 200));
    border: 1px outset rgb(160, 160, 160);
    border-radius: 2px;
    margin-left: -9px;
    margin-right: -9px;
    padding: 0px;
    height: 9px;
    width: 24px;
}

QSlider::handle:horizontal:hover
{
    background-color: rgb(247, 247, 247);
}

QSlider::handle:vertical:hover
{
    background-color: rgb(140, 140, 140);
}



/* TabBar ----------------------*/
QTabBar::tab
{
    background-color: rgba(237, 227, 215, 145);
    border: none;/* 1px solid #D0D5EA;*/
    border-radius: 2px;
    min-width: 8ex;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    color: black;
}

QTabBar::tab:selected
{
    background-color: rgb(247, 247, 247);
    /* border-top: 1px solid black;/* 1px solid #D0D5EA;*/
    /* border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid rgb(237, 227, 215);*/
}

QTabBar::tab:hover,
QTabBar::tab:hover:checked
{
    background-color: rgba(237, 227, 215, 90);
}

QTabBar::tab:!selected
{
    margin-top: 3px; /* make non-selected tabs look smaller */
    color: rgb(90, 90, 90);
}

QMenuBar::item
{
    color: rgb(127, 77, 26);
    background: rgb(255, 197, 117);
}

QMenuBar::item:selected { /* hover effect for menu bar items */

    border-radius: 2px;
}

QMenuBar::item:pressed { /* 'button pressed' item style */

    border-radius: 2px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(127, 98, 58), stop:1 rgb(63, 49, 29));
}

QMenuBar
{
    background: rgb(255, 197, 117);
    border-bottom: none;
    border-top: 1px solid rgb(237, 227, 215);
    border-left: 1px solid rgb(237, 227, 215);
    border-right: 1px solid rgb(237, 227, 215);
}

QMenu
{
    border: 1px outset rgb(80, 80, 80);
    color: rgb(127, 77, 26);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(250, 250, 250),
    stop:1 rgb(230, 230, 230));
}

QMenu::item:selected
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(60, 60, 60), stop:1 rgb(40, 40, 40));
}

QTabWidget::pane
{
    background-color: transparent;
}
