#zoomInButton,
#zoomOutButton
{
    background: rgba(255, 255, 255, 80);
}

#userNamePanel
{
    color: rgb(140, 140, 140);
    border: 1px solid rgb(55, 55, 55);
    padding: 1px;
}

/* these two elements need use the same NON-transparent color to work ok in AU and VSt plugin (using top level text editor) */
#userNameLineEdit,
#userNamePanel
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(85, 85, 85),
        stop:0.1 rgb(65, 65, 65)
        stop:0.9 rgba(45, 45, 45),
        stop:1 rgba(25, 25, 25));
}

#labelYourControls
{
    color: rgb(140, 140, 140);
}

#masterTitleLabel,
#labelMetronome
{
    color: rgb(90, 90, 90);
}

#userNameLineEdit
{
    color: rgb(150, 150, 150);
    border: none;
}

#userNameLineEdit:read-only
{
    color: rgb(100, 100, 100);
}

/* ------------------------------ */

/* main areas */

QMainWindow
{
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(100, 100, 100);
}

#bottomPanel
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(50, 50, 50),
    stop:1 rgb(10, 10, 10));
    border-top: 1px solid rgb(30, 30, 30);
    border-left: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-bottom: 1px solid rgb(30, 30, 30);
}

#leftPanel
{
   background-color: rgb(20, 20, 20);
}

#contentTabWidget:pane
{
    background-color: rgb(20, 20, 20);
}

#contentTabWidget:pane,
#chatTabWidget:pane
{
    border: none;
    padding: 0px;
}


#chatTabWidget:pane,
#chatTabWidget QTabBar::tab
{
    background-color: rgb(20, 20, 20);
    color: rgb(140, 140, 140);
}
