/* Stylesheet for BaseTrack - Flat theme */


/* Track buttons
--------------------------------*/

#soloButton,
#muteButton
{
    font-size: 9px;
    border-color: rgb(110,110,110);
    padding: 2px;
    color: rgb(50,50,50);
}

#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero,
#soloButton,
#muteButton
{
    background: rgb(235, 235, 235);
}


#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero
{
   padding: 1px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-radius: 1px;
}

#buttonBoostMinus12:checked,
#buttonBoostPlus12:checked,
#buttonBoostZero:checked,
QPushButton#buttonStereoInversion:checked
{
    background-color: rgb(200, 200, 200);
    color: rgba(0, 0, 0, 160);
    border-radius: 0px;
}

#soloButton:hover,
#muteButton:hover
{
    color: black;
}

#buttonBoostMinus12:hover:checked,
#buttonBoostPlus12:hover:checked,
#buttonBoostZero:hover:checked
{
    background-color: rgb(200, 200, 200);
    color: rgba(0, 0, 0, 160);
    border-radius: 0px;
}

/* button colors when the track is NOT xmiting */
BaseTrackView[unlighted="true"] #buttonBoostMinus12,
BaseTrackView[unlighted="true"] #buttonBoostZero,
BaseTrackView[unlighted="true"] #buttonBoostPlus12,
BaseTrackView[unlighted="true"] #soloButton,
BaseTrackView[unlighted="true"] #muteButton,
BaseTrackView[unlighted="true"] QPushButton#buttonStereoInversion
{
    background-color: rgba(0, 0, 0, 30);
    border: none;
}

BaseTrackView[unlighted="true"] QPushButton#buttonStereoInversion:hover:checked
{
    background-color: rgb(200, 200, 200);
}

#buttonBoostZero:checked
{
    border-bottom: none;
    border-top: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 60);
}

#soloButton:checked
{
    background-color: rgb(90, 255, 62);
    color: black;
}

#soloButton:hover:checked
{
    background-color: rgb(110, 255, 80);
    border-color: rgb(45, 45, 45);
}

#muteButton:checked
{
    background-color: rgb(255, 0, 0);
    color: white;

}

#muteButton:hover:checked
{
    background-color: rgb(255, 40, 40);
    color: lightgray;
    border-color: rgb(45, 45, 45);
}

BaseTrackView[unlighted="true"] #buttonStereoInversion:hover:checked
{
    background-color: rgba(0, 0, 0, 50);
}

/* Small Label used to show max peak below peak meters
-------------------------------------------------------*/
BaseTrackView #peaksDbLabel
{
    border: 1px solid rgba(0, 0, 0, 8);
    background-color: rgba(0, 0, 0, 6);
}

BaseTrackView[unlighted="true"] #peaksDbLabel
{
   border: none;
   background-color: rgba(0, 0, 0, 10);
}


BaseTrackView
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(240, 240, 240),
        stop:1 rgb(160, 160, 160));

    border: none; /*1px solid rgb(61, 61, 61);*/
    font-size: 8px;
}



/* Setting colors when the track is 'not transmiting'
-----------------------------------------------------*/
BaseTrackView[unlighted="true"] #panSlider::handle,         /* pan slider handle */
BaseTrackView[unlighted="true"] QSlider::handle:vertical,    /* track fader handle */
#panSlider::handle:disabled,
QSlider::handle:vertical:disabled
{
    background: rgb(180, 180, 180);
}

BaseTrackView[unlighted="true"],                            /* the track */
TrackGroupView[unlighted="true"] > #topPanel                /* the track group top panel: used to show user name */
{
    background: rgba(255, 255, 255, 40);
}
/* -----------------------------------------*/


#panSlider::handle
{
    width: 7px;
}


PeakMeter
{
    background-color: rgba(0, 0, 0, 6);
    border: none;
}


/* TrackGroup - used as container for subchannels
---------------------------------------------------*/

TrackGroupView #topPanel                                /* topPanel is used to show channel name */
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(253, 253, 253),
    stop:1 rgb(240, 240, 240));

    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

TrackGroupView #groupNameField                          /* the text field used to input channel name */
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: normal;
}

TrackGroupView[unlighted="true"] #groupNameField        /* channel name text field when not xmiting */
{
    background: rgba(255, 255, 255, 20);
    border: none;
}
