/*
    Chat stylesheet for Flat theme
*/


/* ChatPanel is the widget used to layout all chat controls (messages in a
scroll area, the text input field, but clear and auto translate buttons).
----------------------------------------------*/

ChatPanel #chatText
{                                           /* text input field used to send chat messages */
    border-color: rgba(0, 0, 0, 80);
    background-color: rgb(235, 235, 235);
}

ChatPanel #chatText:focus                   /* text input field focused */
{
    border-color: rgba(0, 0, 0, 160);
    background-color: white;
}



/* ChatMessagePanel is the widget used to show ONE chat message
----------------------------------------------------------------*/
ChatMessagePanel
{
    border: 1px solid rgb(140, 140, 140);
}

ChatMessagePanel #labelUserName             /* The name of chat message author */
{
    padding: 0px;
    margin-bottom: 1px;
}

ChatMessagePanel #translateButton:hover,   /* hover effect in chat message translate (T) button */
ChatMessagePanel #blockButton:hover
{
    border-color: black;
    font-weight: bold;
}

