
PluginScanDialog{
    background-color: rgb(250, 250, 250);
}


PluginScanDialog QPlainTextEdit{
    background: transparent;
}

PluginScanDialog #labelPluginText{
    font-weight: bold;
}





BusyDialog{
    border: 1px solid rgba(0, 0, 0, 30);
    padding: 0px;
    margin: 0px;
    background-color: rgb(220, 220, 220);
}
