/* Dialogs in Flat theme
-------------------------------------*/

PluginScanDialog
{
    background-color: rgb(250, 250, 250);
}


PluginScanDialog QPlainTextEdit
{
    background: transparent;
}

PluginScanDialog #labelPluginText
{
    font-weight: bold;
}

PrivateServerDialog #comboBoxServers
{
    color: rgb(80, 80, 80);
}

PrivateServerDialog #comboBoxServers:focus
{
    color: black;
}

BusyDialog
{
    border: 1px solid rgba(0, 0, 0, 30);
    padding: 0px;
    margin: 0px;
    background-color: rgb(220, 220, 220);
}
