#zoomInButton,
#zoomOutButton
{
    background: rgba(0, 0, 0, 6);
}

#userNamePanel
{
    border-color: rgb(95, 95, 95);
    padding: 1px;
}

/* these two elements need use the same NON-transparent color to work ok in AU and VSt plugin (using top level text editor) */
#userNameLineEdit,
#userNamePanel
{
        background-color: rgb(250, 250, 250);
}

#labelYourControls
{
    color: rgb(200, 200, 200);
}

#masterTitleLabel,
#labelMetronome
{
    color: rgb(60, 60, 60);
}

#userNameLineEdit
{
    border: none;
}

#userNameLineEdit:read-only
{
    color: gray;
}

/* ------------------------------ */

/* main areas */

QMainWindow
{
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(90, 90, 90);
}

#bottomPanel
{
    background: rgb(224, 224, 224);
    border-top: 1px solid rgb(191, 191, 191);
}

#leftPanel
{
   background-color: rgb(120, 120, 120);
}

#contentTabWidget:pane
{
    background-color: rgb(180, 180, 180);
}

#contentTabWidget:pane,
#chatTabWidget:pane
{
    border: none;
    padding: 0px;
}


#chatTabWidget:pane,
#chatTabWidget QTabBar::tab
{
    background-color: rgb(160, 160, 160);
    color: rgb(210, 210, 210);
}
