*{
    font-family: "Dialog";
    font-size: 9pt;
}

/* common widgets */

.QLineEdit{
    border-radius: 10px;
    padding: 2px;
    background: rgb(100, 100, 100);
    color: white;
    border: 1px solid rgb(51, 51, 51);
}


QCheckBox::indicator, QGroupBox::indicator  {
    background: url(:/images/check.png);
    width: 15px;
    height: 16px;
}

QCheckBox::indicator:hover, QGroupBox::indicator:hover {
    background: url(:/images/check_hover.png);
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked {
    background: url(:/images/check_checked.png);
}

/*
QCheckBox::indicator:hover, QGroupBox::indicator:hover  {
    background-color: qlineargradient(x1:0, y1:0.3, x2:0, y2:0.8, stop:0 rgb(200, 200, 200), stop:1 rgb(130, 130, 130));
}


QGroupBox::indicator:checked {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
    border: 1px solid black;
}

QGroupBox::indicator:hover:checked {
    background-color: qlineargradient(x1:0, y1:0.3, x2:0, y2:0.7, stop:0 rgb(110, 255, 92), stop:1 rgb(30, 175, 40));
    border-color: rgb(90, 90, 90);
}
*/

/*  SLIDER ++++++++++++++++++++++++++++++++ */
QSlider::add-page:vertical, QSlider::groove:vertical {
    border: 1px solid rgba(0, 0, 0, 55);
    border-radius: 3px;
}

QSlider::groove:vertical {
    background-color: rgba(0, 0, 0, 50);
    width: 8px;
}

QSlider::handle:vertical, QSlider::handle:horizontal {
    background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgb(220, 220,220), stop:1 rgb(45, 45, 45));
    border: 1px solid rgb(120, 120, 120);
    height: 12px;
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 3px;
}

QSlider::handle:vertical:hover, QSlider::handle:horizontal:hover {
    border: 1px solid rgb(70, 70, 70);
    background-color: qlineargradient(x1:0, y1:0.5, x2:0, y2:1, stop:0 rgb(220, 220,220), stop:1 rgb(45, 45, 45));
}

QSlider::add-page:vertical {
    background: rgb(255,255,255, 130);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 3px;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
Gui--PeakMeter{
    background-color: rgba(0, 0, 0, 100);
    border: 1px solid rgba(0, 0, 0, 30);
    border-radius: 2px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */

QMainWindow{
    background-color: rgb(60, 60, 60);
}

/* painéis principais */
.QWidget#leftPanel, .QWidget#chatPanel, .QWidget#onlineUsersPanel, .QWidget#contentPanel{
    background: url(:/images/gradient.bmp) repeat-x;
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px;
    margin-top: 1ex;
}

/* títulos dos painéis principais */
.QWidget#leftPanel > .QLabel, .QWidget#chatPanel  > .QLabel, .QWidget#onlineUsersPanel > .QLabel, .QWidget#contentPanel > .QLabel{
    font-size: 10pt;
    color: rgb(190, 190, 190);
    qproperty-alignment: AlignCenter;
}

/* define os separadores horizontais abaixo dos títulos as seções principais   */
.QWidget#leftPanel > .QFrame, .QWidget#chatPanel > .QFrame, .QWidget#onlineUsersPanel > .QFrame{
    background-color: rgb(80,80,80);
}

.QWidget#contentPanel > .QFrame{
    background-color: rgb(122, 122, 122);
}
/* ------------------------------ */

.QWidget#contentPanel{
    background: rgb(128, 128, 128);
}

.QMainWindow .QGroupBox::title {
     subcontrol-origin: margin;
     subcontrol-position: top center; /* position at the top center */
     padding: 10 3px;
     color: rgb(190, 190, 190);
     border-bottom-style: groove;
     border-bottom-color: darkgray;
         border-width: 3px;
}

/*  Track view +++++++++++++++++++++++++++++++++++++++++++++++ */
Gui--TrackView{
    background-color: red;
    border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(220, 220, 220), stop:1 rgb(100, 100, 100));
    border: 1px solid rgb(61,61,61);
}

Gui--TrackView > QGroupBox{
    border: 1px solid rgba(0, 0, 0, 50);
    border-radius: 3px;
    margin-top: 5px;
}


Gui--TrackView > QGroupBox::title{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 1 3px;
    margin-left: 5px;
    margin-right:5px;
    left: 10px;

}

Gui--TrackView .QPushButton#solo, Gui--TrackView .QPushButton#mute {
    border-radius: 3px;
    border: 1px solid gray;
    color: rgba(0, 0, 0, 80);
    padding: 3px 6px 3px 6px;
    font-size: 8pt;
}

Gui--TrackView .QLabel#labelPanR, Gui--TrackView .QLabel#labelPanL{
    color: rgba(0, 0, 0, 80);
}

Gui--TrackView .QPushButton:hover#solo, Gui--TrackView .QPushButton:hover#mute{
    background-color: rgba(255, 255, 255, 80);
    color: rgba(0, 0, 0, 200);
}

Gui--TrackView .QPushButton:checked#solo{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
    color: black;
}

Gui--TrackView .QPushButton:hover:checked#solo {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
    color: gray;
}

Gui--TrackView .QPushButton:checked#mute {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
     color: lightgray;
}

Gui--TrackView .QPushButton:hover:checked#mute {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 110, 122), stop:1 rgb(120, 0, 0));
     color: white;
}


Gui--TrackView  > .QLabel#trackName {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top:5px;
}

Gui--TrackView  > .QLineEdit#channelName {
    margin-bottom: 10px;
}


Gui--TrackView > .QFrame#topSeparator{
    background-color: rgb(210, 210, 210);
}

Gui--TrackView > .QFrame#panSectionSeparator{
    background-color: rgb(180, 180, 180);
}



