/* Stylesheet for BaseTrack - Volcano theme */


/* Track buttons
--------------------------------*/

#soloButton,
#muteButton
{
    font-size: 9px;
    border-color: rgb(110,110,110);
    padding: 2px;
    color: rgb(50,50,50);
}

#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero,
#soloButton,
#muteButton,
QPushButton#buttonStereoInversion
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.0 #FDE5A9,
    stop: 1.0 #FFB301);
}


#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero
{
   padding: 1px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-radius: 2px;
}

#buttonBoostMinus12:checked,
#buttonBoostPlus12:checked,
#buttonBoostZero:checked
{
    background-color: #B35925;
    color: rgba(0, 0, 0, 160);
    border-radius: 0px;
}

#buttonBoostMinus12:hover,
#buttonBoostPlus12:hover,
#buttonBoostZero:hover,
#soloButton:hover,
#muteButton:hover,
QPushButton#buttonStereoInversion:hover
{
    background-color: #fed87b;
    color: rgb(80, 80, 80);
    border-radius: 0px;
    border-color: rgb(40, 40, 40);
}

#buttonBoostMinus12:hover:checked,
#buttonBoostPlus12:hover:checked,
#buttonBoostZero:hover:checked
{
    background-color: #e56318;
    border-radius: 0px;
    border-color: rgb(20, 20, 20)
}

/* button colors when the track is NOT xmiting */
BaseTrackView[unlighted="true"] #buttonBoostMinus12,
BaseTrackView[unlighted="true"] #buttonBoostZero,
BaseTrackView[unlighted="true"] #buttonBoostPlus12,
BaseTrackView[unlighted="true"] #soloButton,
BaseTrackView[unlighted="true"] #muteButton
{
    background-color: rgba(0, 0, 0, 30);
    border: none;
}

#buttonBoostZero:checked
{
    border-bottom: none;
    border-top: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 60);
}

#soloButton, #muteButton
{
    border: 1px outset #68300F;
}

#soloButton:checked
{
    background-color: rgb(90, 255, 62);
    color: black;
}

#soloButton:hover:checked
{
    background-color: rgb(125, 255, 108);
    border-color: rgb(45, 45, 45);
}

#muteButton:checked
{
    background-color: rgb(255, 0, 0);
    color: white;

}

#muteButton:hover:checked
{
    background-color: rgb(255, 40, 40);
    color: lightgray;
    border-color: rgb(45, 45, 45);
}


/* Small Label used to show max peak below peak meters
-------------------------------------------------------*/
BaseTrackView #peaksDbLabel
{
    border: 1px solid rgba(0, 0, 0, 8);
    background-color: rgba(0, 0, 0, 6);
}

BaseTrackView[unlighted="true"] #peaksDbLabel
{
   border: none;
   background-color: rgba(0, 0, 0, 10);
}


BaseTrackView
{
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
stop: 0.0 #FFD470,
stop: 0.15 #FDE09B,
stop: 0.9 #FDE5A9,
stop: 1.0 #EF820D);

    border: none; /*1px solid rgb(61, 61, 61);*/
    font-size: 8px;
}



/* Setting colors when the track is 'not transmiting'
-----------------------------------------------------*/
BaseTrackView[unlighted="true"] #panSlider::handle,         /* pan slider handle */
BaseTrackView[unlighted="true"] QSlider::handle:vertical    /* track fader handle */
{
background: rgb(179, 89, 37);
Border: none;
}

BaseTrackView[unlighted="true"],                            /* the track */
TrackGroupView[unlighted="true"] > #topPanel                /* the track group top panel: used to show user name */
{
    background: rgba(199, 129, 77, 100);
}
/* -----------------------------------------*/


#panSlider::handle
{
    width: 7px;
}

BaseTrackView[unlighted="true"] #panSlider::handle:hover,
BaseTrackView[unlighted="true"] #levelSlider::handle:hover
{
    background-color: rgb(217, 157, 116);
}

PeakMeter
{
    background-color: rgba(0, 0, 0, 6);
    border: none;
}


/* TrackGroup - used as container for subchannels
---------------------------------------------------*/

TrackGroupView
{
    border: none;
}

TrackGroupView #topPanel                                /* topPanel is used to show channel name */
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #EF820D,
        stop: 0.5 #FFD470);

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

TrackGroupView #groupNameField                          /* the text field used to input channel name */
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid rgb(0, 0, 0, 40);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 5);
}

TrackGroupView[unlighted="true"] #groupNameField        /* channel name text field when not xmiting */
{
    background-color: rgba(0, 0, 0, 10);
    border: none;
}
