

/* FxPanelItem is the 'slot' for one vst plugin
--------------------------------------------------*/
FxPanelItem
{
    border: none;
    padding: 3px;
    background-color: rgba(0, 255, 255, 15);
}

FxPanelItem[containPlugin="true"]
{
    background-color: rgba(0, 255, 255, 25);
}

FxPanelItem[containPlugin="true"] QLabel                                     /* plugin name label */
{
    color: rgb(120, 120, 120);
    qproperty-alignment: AlignLeft;
    font-size: 9px;
}

FxPanelItem QLabel:hover
{
    color: rgb(210, 210, 210);
}

FxPanelItem QPushButton                                 /* the small button used to bypass the plugin */
{
     max-width: 8px;
     max-height: 8px;
     margin: 0px;
     padding: 0px;
     border-width: 1px;
}

FxPanelItem QPushButton:checked
{
    background-color: rgb(0, 180, 180);
    border-color: rgba(0, 60, 0, 220);
    border-style: inset;
}

FxPanelItem QPushButton:!checked
{
    background-color: rgba(0, 20, 0, 180);
    border-style: outset;
    border-color: rgba(0, 0, 0, 120);
}

FxPanelItem QPushButton:checked:hover
{
    background-color: rgb(0, 220, 220);
}

FxPanelItem QPushButton:!checked:hover
{
    background-color: rgba(0, 60, 40, 180);
}



LocalTrackViewStandalone
{
    qproperty-midiRoutingArrowColor: rgba(255, 255, 255, 80);
}


#xmitButton
{
    margin-top: 3px;
    border-radius: 1px;
    border-width: 1px;
}

#xmitButton:!checked
{
    border: 1px solid black;
    background-color: rgb(128, 20, 20);
    border-color: rgb(128, 0, 0);
    color: rgb(140, 140, 140);
}

#xmitButton:checked
{
    background-color: #58A9AA;
    border-color: rgb(0, 110, 100);
    color: rgb(0, 60, 60);
}

#xmitButton[preparing="true"],
#voiceChatButton:checked[blinking="true"]
{
    background-color: rgb(180, 180, 20);
    color: rgb(20, 20, 20);
    border-color: transparent;
}

#xmitButton[preparing="true"]:!checked
{
    color: rgb(90, 90, 90);
}

#xmitButton:hover
{
    background-color: #69BABB;
    color: black;
}

#xmitButton:hover:!checked
{
    background-color: rgb(180, 20, 20);
    border-color: rgba(0, 0, 0, 90);
}

#voiceChatButton:!checked,
#voiceChatButton:checked,
TrackGroupView[unlighted="true"] #voiceChatButton:checked[blinking="true"] /* Voice chat button not blinking when not transmitting */
{
    border-image: url('/images/button_checked.png') 7px 8px 7px 7px;
    color: green;
    background-color: none;

}

#voiceChatButton:hover
{
    background-color: #69BABB;
}

LocalTrackView #inputSelectionButton            /* Button used to open the input selection menu */
{
    background-image: url(':/images/arrow-down.png');
    background-repeat: none;
    background-position: center right;
    background-color: #29715F;
    color: rgb(0, 30, 0);

    text-align: left;
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    border-image: none;

    max-width: 100%;

}

LocalTrackView #inputPanel
{
    background-color: transparent;
    border: none;
    padding: 0px;
}

LocalTrackView[unlighted="false"] #inputPanel    /* input panel color when user is transmiting */
{
    border: none;
}

LocalTrackView #inputPanel:hover
{
    background-color: rgba(0, 0, 0, 30);
}

LocalTrackView[unlighted="false"] #inputPanel:hover    /* input panel color when user is transmiting */
{
    border: 1px solid rgb(50, 50, 50);
}

