*{
font-family: "Dialog";
font-size: 9pt;
}

FxPanel{
    /*border: 1px solid gray;*/
    background-color: rgba(0, 0, 0, 20);
    max-height: 80px;
    border-radius: 2px;
}

FxPanelItem{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 30), stop:1 rgba(0, 0, 0, 50));
    background-image: url(':/images/arrow-down-lighter.png');
    background-position: center right;
    background-repeat: none;
    max-height: 14px;
    width: 100%;
    qproperty-alignment: AlignCenter;
    font-size: 8pt;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

FxPanelItem[pluginBypassed="true"]{
    background: rgba(0, 0, 0, 60);
    color: rgba(60, 60, 60);
}


FxPanelItem > QPushButton{
     max-width: 10px;
     max-height: 10px;
     border-radius: 2px;
     border: 1px solid rgba(0, 0, 0, 80);
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgba(0, 0, 0, 120), stop:1 rgb(0, 0, 0, 50));
}

FxPanelItem > QPushButton:hover{
    border: 1px solid rgba(0, 0, 0);
    /*background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgba(0, 0, 0, 150), stop:1 rgb(0, 0, 0, 80));*/
}

FxPanelItem > QPushButton:checked{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
}

FxPanelItem:hover{
    background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgba(0, 0, 0, 50), stop:1 rgba(0, 0, 0, 70));
    width: 100%;
}
/*----------------------*/
QScrollBar:vertical, QScrollBar:horizontal {
    border: 1px solid rgba(0, 0, 0, 45);
    background-color: rgba(0, 0, 0, 40);
    margin: 0px;/* 22px 0 22px 0;*/
    border-radius: 4px;
}
QScrollBar:vertical{
    width: 12px;
}
QScrollBar:horizontal{
    height: 12px;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  border: 1px solid rgba(0, 0, 0, 85);
  border-radius:4px;
  margin: 0px;
}
QScrollBar::handle:vertical {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(120, 126, 118, 255), stop:0.47 rgba(91, 91, 91, 255), stop:0.49 rgba(81, 75, 77, 255), stop:0.92 rgba(142, 140, 140, 255));
  max-height: 20px;
  height: 20px;
}

QScrollBar::handle:vertical:hover {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(140, 146, 138, 255), stop:0.47 rgba(121, 121, 121, 255), stop:0.49 rgba(111, 95, 97, 255), stop:0.92 rgba(172, 170, 170, 255));
}

QScrollBar::handle:horizontal {
  background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.92 rgba(120, 126, 118, 255), stop:0.49 rgba(91, 91, 91, 255), stop:0.47 rgba(81, 75, 77, 255), stop:0 rgba(142, 140, 140, 255));
  max-width: 20px;
  width: 20px;
}

QScrollBar::handle:horizontal:hover {
  background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
  stop:0.92 rgba(140, 146, 138, 255), stop:0.49 rgba(121, 121, 121, 255), stop:0.47 rgba(101, 95, 97, 255), stop:0 rgba(162, 160, 160, 255));
}


QScrollBar::add-line:vertical {
  border: none;/*2px solid red;*/
  height: 0px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
  border: none;/*2px solid red;*/
  width: 0px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  border: none;
  height: 0px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
  border: none;
  width: 0px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

/* ---------- */

/* common widgets */

.QLineEdit{
    border-radius: 10px;
    padding: 2px;
    background: rgb(100, 100, 100);
    color: white;
    border: 1px solid rgb(51, 51, 51);
}

.QLineEdit[enabled="false"]{
    border-radius: 3px;
    padding: 2px;
    background: rgb(100, 100, 100, 90);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(51, 51, 51, 70);
}



QCheckBox::indicator, QGroupBox::indicator  {
background: url(:/images/check.png);
width: 15px;
height: 16px;
}

QCheckBox::indicator:hover, QGroupBox::indicator:hover {
background: url(:/images/check_hover.png);
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked {
background: url(:/images/check_checked.png);
}

/*
QCheckBox::indicator:hover, QGroupBox::indicator:hover  {
background-color: qlineargradient(x1:0, y1:0.3, x2:0, y2:0.8, stop:0 rgb(200, 200, 200), stop:1 rgb(130, 130, 130));
}


QGroupBox::indicator:checked {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
border: 1px solid black;
}

QGroupBox::indicator:hover:checked {
background-color: qlineargradient(x1:0, y1:0.3, x2:0, y2:0.7, stop:0 rgb(110, 255, 92), stop:1 rgb(30, 175, 40));
border-color: rgb(90, 90, 90);
}
*/

/*  SLIDER ++++++++++++++++++++++++++++++++ */
QSlider::add-page:vertical, QSlider::groove:vertical {
border: 1px solid rgba(0, 0, 0, 55);
border-radius: 3px;
}

QSlider::add-page:vertical[enabled="false"]{
    border: none;
}

QSlider::groove:horizontal[enabled="false"]{
    background-color: rgba(0, 0, 0, 20);
    height: 5px;
}

QSlider::groove:vertical {
background-color: rgba(0, 0, 0, 50);
width: 8px;
}

QSlider::groove:vertical[enabled="false"]{
    background-color: rgba(0, 0, 0, 20);
    border-color: rgba(0, 0, 0, 25);
}

QSlider::handle:vertical, QSlider::handle:horizontal {
background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgb(220, 220,220), stop:1 rgb(45, 45, 45));
border: 1px solid rgb(120, 120, 120);
height: 12px;
margin-left: -12px;
margin-right: -12px;
border-radius: 3px;
}

QSlider::handle:vertical[enabled="false"], QSlider::handle:horizontal[enabled="false"]{
    background-color:rgb(120, 120, 120);
}

QSlider::handle:vertical:hover, QSlider::handle:horizontal:hover {
border: 1px solid rgb(70, 70, 70);
background-color: qlineargradient(x1:0, y1:0.5, x2:0, y2:1, stop:0 rgb(220, 220,220), stop:1 rgb(45, 45, 45));
}

QSlider::add-page:vertical[enabled="true"] {
background: rgb(255,255,255, 130);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
margin: 3px;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
PeakMeter{
    background-color: rgba(0, 0, 0, 100);
    border: 1px solid rgba(0, 0, 0, 25);
    max-width: 4px;
    min-width: 4px;
}
PeakMeter[enabled="false"]{
    background-color: rgba(0, 0, 0, 20);
    border: none;
}

/* ++++++++++++++++++++++++++++++++++++++++ */

QMainWindow{
background-color: rgb(60, 60, 60);
}

/* painéis principais */
.QWidget#leftPanel, .QWidget#chatArea, .QWidget#contentPanel{
/*background: url(:/images/gradient.bmp) repeat-x;*/
/*background-color: rgb(39, 39, 39);*/
/*background-color: red;*/
border: 1px solid rgb(45, 45, 45);
border-radius: 5px;
margin-top: 1ex;
}

/* títulos dos painéis principais */
.QWidget#leftPanel > .QLabel, .QWidget#chatArea  > .QLabel, .QWidget#contentPanel > .QLabel{
font-size: 10pt;
color: rgb(190, 190, 190);
qproperty-alignment: AlignCenter;
}

/* define os separadores horizontais abaixo dos títulos as seções principais   */
.QWidget#leftPanel > .QFrame, .QWidget#chatArea > .QFrame{
background-color: rgb(80,80,80);
}

.QWidget#contentPanel > .QFrame{
background-color: rgb(100, 100, 100);
}
/* ------------------------------ */

.QWidget#contentPanel{
background: rgb(128, 128, 128);
}

.QTabWidget::pane{
background-color: rgba(255, 255, 255, 80);
border: 1px solid rgba(0, 0, 0, 60);
border-radius: 5px;
padding: -4px;
}

 .QTabWidget::tab-bar {
 left: 10px; /* move to the right by 5px */
 }

/* Style the tab using the tab sub-control. Note that
it reads QTabBar _not_ QTabWidget */
.QTabBar::tab {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
border: 1px solid #C4C4C3;
border-bottom-color: #C2C7CB; /* same as the pane color */
border-top-left-radius: 5px;
border-top-right-radius: 5px;
min-width: 8ex;
padding: 2px;
padding-left: 10px;
padding-right: 10px;

 }

 .QTabBar::tab:selected, .QTabBar::tab:hover {
 background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
 stop: 0 #fafafa, stop: 0.4 #f4f4f4,
 stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
 }

 .QTabBar::tab:selected {
 border-color: #9B9B9B;
 border-bottom-color: #C2C7CB; /* same as pane color */

 }

 .QTabBar::tab:!selected {
 margin-top: 5px; /* make non-selected tabs look smaller */
 }

/*++++++++++++++++++++*/

.QMainWindow .QGroupBox::title {
subcontrol-origin: margin;
subcontrol-position: top center; /* position at the top center */
padding: 10 3px;
color: rgb(190, 190, 190);
border-bottom-style: groove;
border-bottom-color: darkgray;
border-width: 3px;
}

QScrollArea{
border: none;
background: transparent;
}

QScrollArea > QWidget > QWidget{/*the content panel - QSCroll contém um QWidget privado que já é uma view port,além disso eu usei o meu próprio widget*/
background: transparent;
}

BusyDialog{
    background: qradialgradient(cx:0.5, cy:0.5, radius: 0.6, fx:0.5, fy:0.5, stop:0 rgba(45, 45, 45, 200), stop:1 rgba(220, 220, 220, 200));
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
}

BusyDialog > QLabel{
    font-weight: bold;
}


JamRoomViewPanel{
background: rgba(255,255, 255, 180);
border: 1px solid rgba(0, 0, 0, 30);
border-radius: 5px;
}

JamRoomViewPanel  QWebView{
    border: 1px solid black;
    height: 100%;
    max-height: 120px;
}

JamRoomViewPanel > #plotPanel{
min-height: 50px;
background: red;
border: 1px solid black;
border-radius: 5px;
}

/*  Track view +++++++++++++++++++++++++++++++++++++++++++++++ */
BaseTrackView{
border-radius: 3px;
background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(220, 220, 220), stop:1 rgb(100, 100, 100));
border: 1px solid rgb(61,61,61);
}

BaseTrackView[enabled="false"] > QFrame#topSeparator, BaseTrackView[enabled="false"] > QFrame#panSectionSeparator{
    background-color: rgba(0, 0, 0, 5);
}

BaseTrackView[enabled="false"]{
    background: rgba(0, 0, 0, 30);
    border: none;
}


BaseTrackView  QGroupBox{
border: 1px solid rgba(0, 0, 0, 50);
border-radius: 3px;
margin-top: 5px;
}


BaseTrackView  QGroupBox::title{
subcontrol-origin: margin;
subcontrol-position: top left;
padding: 1 3px;
margin-left: 5px;
margin-right:5px;
left: 10px;

}

BaseTrackView .QPushButton#soloButton, BaseTrackView .QPushButton#muteButton {
border-radius: 3px;
border: 1px solid gray;
color: rgba(0, 0, 0, 80);
padding: 3px 6px 3px 6px;
font-size: 8pt;
}

BaseTrackView .QLabel#labelPanR, BaseTrackView .QLabel#labelPanL{
color: rgba(0, 0, 0, 80);
}

BaseTrackView .QPushButton:hover#soloButton, BaseTrackView .QPushButton:hover#muteButton{
background-color: rgba(255, 255, 255, 80);
color: rgba(0, 0, 0, 200);
}

BaseTrackView .QPushButton:checked#soloButton{
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
color: black;
}

BaseTrackView .QPushButton:hover:checked#soloButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
color: gray;
}

BaseTrackView .QPushButton:checked#muteButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
color: lightgray;
}

BaseTrackView .QPushButton:hover:checked#muteButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 110, 122), stop:1 rgb(120, 0, 0));
color: white;
}
/* LOCAL TRACK GROUP */

LocalTrackGroupView {
    border: none;
    background-color: none;
}

LocalTrackGroupView[highlighted="true"] {
    border: 2px solid white;
    border-radius: 3px;
}

LocalTrackGroupView > #topPanel{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(220, 220, 220), stop:1 rgb(100, 100, 100));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

MainFrame  #userNameLabel {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top:5px;
    text-align: center;
}

LocalTrackGroupView   #groupNameField {
    margin-bottom: 10px;
    margin-top: 10px;
}

LocalTrackGroupView  #toolButton, #leftPanel > #toolButton {
    background-color: none;
    background-image: url(':/images/gear.png');
    background-repeat: none;
    background-position: center center;
    border: none;
}

LocalTrackGroupView   #toolButton:hover, #leftPanel > #toolButton:hover {
    background-image: url(':/images/gear-hover.png');
}
/* ++++++++++++++++++++++++++++++++++ */

BaseTrackView > .QFrame#topSeparator{
background-color: rgb(210, 210, 210);
}

BaseTrackView > .QFrame#panSectionSeparator{
background-color: rgb(180, 180, 180);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
LocalTrackView{
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

LocalTrackView[highlighted="true"]{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(230, 230, 230), stop:1 rgb(140, 140, 140));
}

LocalTrackView #inputPanel{
    padding: 2px;
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 60), stop:1 rgba(0, 0, 0, 140));
    border: 1px solid rgba(0, 0, 0, 60);
    border-radius: 3px;
}

LocalTrackView #inputPanel:hover{
    background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgba(0, 0, 0, 20), stop:1 rgba(0, 0, 0, 40));
}

LocalTrackView #inputSelectionButton{
    background-color: none;
    background-image: url(':/images/arrow-down.png');
    background-repeat: none;
    background-position: center right;
    border: none;
    color: rgba(255,255, 255, 160);
    font-size: 7pt;
    text-align: left;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* NINJAM */
NinjamPanel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(253, 253, 253), stop:1 rgb(193, 193, 193));
    border-radius: 3px;
    border: 1px solid rgb(135, 135, 135);
    min-height: 100px;
}

/*Chat */
ChatPanel > QPushButton#buttonClear{
    font-size: 8pt;
    color: rgb(120, 120, 120);
    height: 20px;
    width: 17px;
    background-image: url(:/images/broom.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0px;
}

ChatMessagePanel > QLabel#labelUserName{
    padding: 0px;
    padding-right: 3px;
    border: 1px solid rgb(0, 0, 0, 70);
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 8pt;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: -1px;
}

ChatMessagePanel > QLabel#labelMessage{
    padding: 2px;
    border: 1px solid rgb(0, 0, 0, 80);
    border-radius: 3px;
}

