/* Dialogs in Ice theme
-------------------------------------*/

PreferencesDialog
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

QMessageBox,
QInputDialog,
MidiToolsDialog,
UserNameDialog,
LooperWindow
{
    border-color: rgb(20, 20, 20);
    color: white;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

LooperWindow
{
    background-color: rgb(96, 148, 225); /* using a darker blue tone to improve wave sound contrast */
}

PrivateServerDialog #label, #label_2, #label_3
{
    color: rgb(160, 160, 160);
}

UserNameDialog #label
{
    color: black;
}

PreferencesDialog #tabAudio,
PreferencesDialog #tabMidi,
PreferencesDialog #tabVST,
PreferencesDialog #tabRecording,
PreferencesDialog #tabMetronome,
PreferencesDialog #tabLooper,
PreferencesDialog #tabRemember
{
    border: none;
    background-color:  qlineargradient(x1:0 y1:0, x2:0 y2:1,
        stop:0 rgb(202, 242, 242),
        stop:0.5 rgb(155, 245, 242),
        stop:1 rgb(110, 165, 245));
}

#tabAudio QComboBox,                         /* the colors inside the combo box*/
#tabLooper QComboBox,
#tabMetronome QComboBox
{
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 90);
    padding: 1px 3px 1px 3px;
    background-color: rgb(180, 207, 250);
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;
}

#tabAudio QComboBox:focus,
#tabLooper QComboBox:focus,
#tabMetronome QComboBox:focus
{
    background-color: rgb(51, 153, 255);
    color: white;
}

#tabAudio QComboBox:hover,
#tabLooper QComboBox:hover,
#tabMetronome QComboBox:hover
{
    background-color: rgb(207, 224, 252);
}

#tabAudio QComboBox:focus:hover,
#tabLooper QComboBox:focus:hover,
#tabMetronome QComboBox:focus:hover
{
    background-color: rgb(143, 188, 250);
}

#tabAudio QComboBox::drop-down,
#tabLooper QComboBox::drop-down,
#tabMetronome QComboBox::drop-down
{
    border: 0px;
}

#tabAudio QComboBox::down-arrow,
#tabLooper QComboBox::down-arrow,
#tabMetronome QComboBox::down-arrow
{
    image:url(:/images/arrow-down.png);
}

#tabAudio QComboBox::down-arrow:disabled,
#tabLooper QComboBox::down-arrow:disabled,
#tabMetronome QComboBox::down-arrow:disabled
{
    image:url(:/images/arrow-down-lighter.png);
}

PreferencesDialog QPushButton
{
    border: 1px outset rgba(0, 0, 0, 90);
}

PreferencesDialog QComboBox
{
    color: black;
}

PreferencesDialog QComboBox QAbstractItemView      /* the colors inside drop down menu of the combo box*/
{
    border: none;
    color: black;
    background-color: rgb(180, 207, 250);
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;
}

PreferencesDialog QComboBox:disabled,
PreferencesDialog QLabel:disabled,
PreferencesDialog QGroupBox#groupBoxBuiltInMetronomes[checked=false],
PreferencesDialog QGroupBox#groupBoxCustomMetronome[checked=false],
PreferencesDialog QGroupBox#groupBoxOutputs
{
    color: rgba(0, 0, 0, 90);
}

PreferencesDialog QComboBox::down-arrow:disabled
{
    image:url(:/images/arrow-down-lighter.png);
}

PreferencesDialog #vstListWidget
{
    border-radius: 6px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

PreferencesDialog #blackListWidget
{
    border-radius:6px;
}

MidiToolsDialog #label_5, #labelHigherNote, #labelLowerNote, #checkBoxMidiRouting
{
    color: white;
}

MidiToolsDialog #GroupBoxKeyRange, #GroupBoxTranspose
{
    color: rgb(160, 160, 160);
}

MidiToolsDialog #spinBoxTranspose
{
    border: 1px solid rgb(80, 80, 80);
    border-radius:6px;
    color: black;
    background-color: rgb(180, 207, 250);
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;
}

PluginScanDialog QPlainTextEdit
{
    background: transparent;
}

PluginScanDialog #labelPluginText
{
    color: rgb(20, 20, 20,);
    font-weight: bold;
}

PluginScanDialog QPlainTextEdit
{
    background: transparent;
}

PluginScanDialog #labelPluginText
{
    font-weight: bold;
}

PluginScanDialog
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

PluginScanDialog QGroupBox
{
    color: white;
    border: 1px solid rgba(0, 0, 0, 100);
    border-radius:6px;
    selection-color: rgb(140, 140, 140);
}

PrivateServerDialog
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

PrivateServerDialog #comboBoxServers
{
    border: 1px solid rgba(0, 0, 0, 90);
    padding: 1px 2px 1px 2px;
    border-radius: 6px;
    background-color: rgb(180, 207, 250);
    color: rgba(0, 0, 0, 220);
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;
}

PrivateServerDialog #comboBoxServers:focus
{
    border-color: rgba(0, 0, 0, 120);
    color: black;
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;;
}

PrivateServerDialog #comboBoxServers::drop-down
{
    border: 0px;
}

PrivateServerDialog #comboBoxServers::down-arrow
{
    image:url(:/images/arrow-down.png);
}

PrivateServerDialog #comboBoxServers::down-arrow:disabled,
PrivateServerDialog #comboBoxServers::down-arrow:hover
{
    image:url(:/images/arrow-down-lighter.png);
}

PrivateServerDialog QComboBox QAbstractItemView
{
    border: none;
    color: black;
    background-color: rgb(180, 207, 250);
    selection-background-color: rgb(51, 153, 255);
    selection-color: white;
}

BusyDialog
{
    border: 1px solid rgba(0, 0, 0, 100);
    border-radius:6px;
    padding: 0px;
    margin: 0px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(128, 180, 255),
        stop: 1.0 rgb(126, 178, 255));
}

BusyDialog > QLabel /* the text appearing in Busy dialog, like "connecting in ninbot.com" */
{
    font-weight: bold;
    color: white;
}
