/* buttons */

#soloButton,
#muteButton,
#preferencesButton
{
    padding-left: 3px;
    padding-right: 3px;
}

#soloButton:hover,
#muteButton:hover
{
    color: rgba(0, 0, 0, 200);
}

#soloButton:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
    color: black;
}

#soloButton:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
    color: gray;
}

#muteButton:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 110, 122), stop:1 rgb(120, 0, 0));
    color: lightgray;
}

#muteButton:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
    color: white;
}

/* boost button */
#buttonBoost
{
   padding: 0px;
   padding-top: 2px;
   padding-bottom: 2px;

   border-radius: 0px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;

   border: 0px;
   border-top: 1px solid rgba(0, 0, 0, 10);
}

#buttonBoost:checked,
#lowCutButton:checked,
QPushButton#buttonStereoInversion:checked
{
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 rgba(255, 255, 255, 160),
        stop:0.2 rgba(255, 255, 255, 120),
        stop:0.7 rgba(255, 255, 255, 120),
        stop:1 rgba(255,255, 255, 30));
}

QPushButton#buttonStereoInversion:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(240, 240, 240),
        stop:0.2 rgb(255, 255, 255),
        stop:0.7 rgb(240, 240, 240),
        stop:1 rgb(210,210, 210));
}

QPushButton#buttonStereoInversion:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(220, 220, 220),
        stop:0.2 rgb(235, 235, 235),
        stop:0.7 rgb(220, 220, 220),
        stop:1 rgb(190, 190, 190));
}

BaseTrackView
{
   background: none;

    border: none;
    border-right: 1px solid rgba(0, 0, 0, 20);
    border-left: 1px solid rgba(0, 0, 0, 20);

   border-radius: 0px;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   font-size: 8px; /*db value */
}

BaseTrackView[unlighted="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(150, 150, 150),
        stop:1 rgb(90, 90, 90));
}

AudioMeter
{
    qproperty-dBMarksColor: rgb(60, 60, 60);
}


/* SLIDERS ---------------- */
#panSlider::handle
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.8    rgb(180, 180, 180));

    border: 1px outset rgb(100, 100, 100);

}

#panSlider::handle:hover
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(180, 180, 180),
        stop: 0.8    rgb(230, 230, 230));

    border: 1px outset rgb(70, 70, 70);

}

BaseTrackView[unlighted="true"] QSlider#panSlider::groove,   /* pan slider 'track' when not xmiting */
#panSlider::handle:disabled,
QSlider::handle:vertical:disabled
{
    border: 1px solid rgba(0, 0, 0, 30);
}

BaseTrackView[unlighted="true"] QSlider::groove:vertical    /* fader 'track' when not xmiting */
{
    background-color: rgba(0, 0, 0, 40);
    border-color: rgba(0, 0, 0, 15);
}

BaseTrackView[unlighted="true"] QSlider::add-page:vertical
{
    background: rgb(255,255,255, 50);
}

BaseTrackView[unlighted="true"] .QPushButton
{
   border: none;
   background-color: rgb(100, 100, 100);
}

BaseTrackView[unlighted="true"] #buttonStereoInversion:checked,
BaseTrackView[unlighted="true"] #buttonStereoInversion:hover:checked
{
background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
    stop:0 rgba(255, 255, 255, 160),
    stop:0.2 rgba(255, 255, 255, 120),
    stop:0.7 rgba(255, 255, 255, 120),
    stop:1 rgba(255,255, 255, 30));
}

BaseTrackView[unlighted="true"] #buttonStereoInversion:hover
{
    background-color: rgba(0, 0, 0, 30);
}

/* track group
------------------------------------ */
TrackGroupView
{
    border-radius: 2px;

    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
          stop:0 rgb(200, 200, 200),
          stop:0.01 rgb(240, 240, 240),
          stop:1 rgb(110, 110, 110)
    );
}

TrackGroupView > #topPanel
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(245, 245, 245),
    stop:0.06 rgb(240, 240, 240),
    stop:1 rgb(180, 180, 180));
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

TrackGroupView[unlighted="true"] > #topPanel    /* top panel when not xmiting */
{
   background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(70, 70, 70));
}

TrackGroupView #groupNameField                  /* channel name input field */
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: normal;
}
