/* Chat */

#voteButton
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgba(255,255,255, 240),
    stop:1 rgba(255,255,255, 100));

    border: 1px outset rgb(45,45,45);
}

#voteButton:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(255,255,255, 200),
        stop:1 rgba(255,255,255, 50));

}



ChatPanel #chatText                     /* chat input field */
{
    border: 1px solid #919191;
}




/* chat messages */
ChatMessagePanel
{
    border: 1px solid rgb(0, 0, 0, 80);
    border-radius: 2px;
}

ChatMessagePanel #labelTimeStamp
{
    margin: 2px;
}

ChatMessagePanel #translateButton,
ChatMessagePanel #blockButton
{
    border: 1px solid rgb(0, 0, 0, 80);
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    max-width: 8px;
    max-height: 6px;
}

ChatMessagePanel #translateButton:hover,
ChatMessagePanel #blockButton:hover
{
    border-color: rgb(140, 140, 140);
    border-style: outset;
}
