/* buttons */

QPushButton
{
    border-radius: 2px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 white,
        stop:0.2 rgba(255, 255, 255, 180),
        stop:0.85 rgba(255, 255, 255, 180),
        stop:1 rgba(255,255, 255, 40));
}

QPushButton:disabled
{
    background-color: rgba(0, 0, 0, 20);
    color: rgba(0, 0, 0, 60)
}

QPushButton:checked
{
    background-color: rgba(0, 0, 0, 70);
}

QPushButton:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(240, 240, 240),
        stop:0.2 rgb(255, 255, 255),
        stop:0.7 rgb(240, 240, 240),
        stop:1 rgb(210,210, 210)
    );

    color: black;
}




/* ScrollBars */

QScrollBar:vertical,
QScrollBar:horizontal
{
    border: 1px solid rgba(0, 0, 0, 45);
    background-color: rgba(0, 0, 0, 40);
    border-radius: 2px;
}

QScrollBar:vertical
{
    width: 14px;
    margin-left: 6px;
}

QScrollBar:horizontal
{
    height: 14px;
    margin-top: 6px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal
{
    border: 1px solid rgba(0, 0, 0, 85);
    border-radius: 2px;
    margin: 0px;
}

QScrollBar::handle:vertical
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
        stop:0 rgba(120, 126, 118, 64),
        stop:0.47 rgba(91, 91, 91, 64),
        stop:0.49 rgba(81, 75, 77, 64),
        stop:0.92 rgba(142, 140, 140, 64));

    max-height: 20px;
    height: 20px;
}

QScrollBar::handle:vertical:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
        stop:0 rgba(140, 146, 138, 255),
        stop:0.47 rgba(121, 121, 121, 255),
        stop:0.49 rgba(111, 95, 97, 255),
        stop:0.92 rgba(172, 170, 170, 255)
    );
}

QScrollBar::handle:horizontal
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
        stop:0.92 rgba(120, 126, 118, 64),
        stop:0.49 rgba(91, 91, 91, 64),
        stop:0.47 rgba(81, 75, 77, 64),
        stop:0 rgba(142, 140, 140, 64));

    max-width: 20px;
    width: 20px;
}

QScrollBar::handle:horizontal:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
        stop:0.92 rgba(140, 146, 138, 255),
        stop:0.49 rgba(121, 121, 121, 255),
        stop:0.47 rgba(101, 95, 97, 255),
        stop:0 rgba(162, 160, 160, 255));
}

QScrollBar::add-line:vertical
{
    border: none;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal
{
    border: none;
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border: none;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    border: none;
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal
{
    background: none;
}





/* ---------------------------- */
QLineEdit,
#userNamePanel
{
    border-radius: 3px;
    background-color: #C5C5C5;
    border-color: #B2B2B2;
}

QLineEdit[enabled="false"]
{
    border-radius: 2px;
    padding: 2px;
    background: rgb(0, 0, 0, 40);
    color: rgb(0, 0, 0, 50);
    border: none;
}

QLineEdit#groupNameField-topLevel,
#userNameLineEdit-topLevel
{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0.0 rgb(197, 197, 197),
        stop: 0.5 rgb(225, 225, 225),
        stop: 1.0 rgb(197, 197, 197));
}

#userNameLineEdit-topLevel
{
    border: none;
}

QLineEdit#chatText-topLevel
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(158, 158, 158),
        stop: 0.3 rgb(197, 197, 197),
        stop: 0.7 rgb(197, 197, 197),
        stop: 1.0 rgb(167, 167, 167));
    border: 1px solid #919191;
}


/*  SLIDERs ++++++++++++++++++++++++++++++++ */

QSlider::add-page:vertical,
QSlider::groove:vertical
{
    border: 1px solid rgba(0, 0, 0, 55);
    border-radius: 2px;
}

QSlider::groove:horizontal
{
    background-color: rgba(0, 0, 0, 30);
    height: 3px;
    border-radius: 2px;
    border: 1px inset rgb(140, 140, 140);
}

QSlider::groove:vertical
{
    border:         1px solid rgba(0, 0, 0, 40);
    border-right:   1px solid rgb(255, 255, 255, 140);
    border-bottom:  1px solid rgba(255, 255, 255, 140);
}

QSlider::groove:vertical
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     rgb(201, 201, 201),
            stop: 1.0   rgb(115, 115, 115)
            );
    width: 5px;
}

QSlider::handle:horizontal
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.8    rgb(120, 120, 120),
        stop: 1      rgba(0, 0, 0, 20));

    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0px;
    width: 11px;
    border-radius: 5px;
    border: 1px outset rgb(80, 80, 80);
}

QSlider::handle:horizontal:hover
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(240, 240, 240),
        stop: 0.8    rgb(150, 150, 150),
        stop: 1      rgba(0, 0, 0, 20));
}

QSlider::handle:vertical
{
    background: qlineargradient(x1:0, y1:0.3, x2:0.7, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.9    rgb(170, 170, 170),
        stop: 1      rgba(0, 0, 0, 20));

    margin-left: -5px;
    margin-right: -5px;
    padding: 0px;
    height: 12px;
    border-radius: 6px;
    border: 1px outset rgb(90, 90, 90);
}

QSlider::handle:vertical:hover
{
    background: qlineargradient(x1:0, y1:0.3, x2:0.7, y2:1,
        stop: 0      rgb(240, 240, 240),
        stop: 0.9    rgb(200, 200, 200),
        stop: 1      rgba(0, 0, 0, 20)
    );
}



/* tabs */

QTabWidget::tab-bar
{
    left: 10px; /* move to the right by 10px */
    padding: 3px;
}

QTabBar::tab
{
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:selected,
QTabBar::tab:hover
{
    background-color: rgb(210, 210, 210)
}

QTabBar::tab:selected
{
    border: 1px solid;
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 3px; /* make non-selected tabs look smaller */
    color: rgb(90, 90, 90);
}

QMenuBar::item
{
    color: black;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 #EAEAEA,
    stop:1 #CACACA);
}

QMenuBar::item::enabled:selected { /* hover effect for menu bar items */

    border-radius: 2px;
}

QMenuBar::item:pressed { /* 'button pressed' item style */

    border-radius: 2px;
}

QMenuBar
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 #EAEAEA,
    stop:1 #CACACA);
    border-bottom: none;
    border-top: 1px solid rgb(70, 70, 70);
    border-left: 1px solid rgb(70, 70, 70);
    border-right: 1px solid rgb(70, 70, 70);
}

QMenu
{
    border: 1px outset rgb(80, 80, 80);
    color: black;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(245, 245, 245), stop:1 rgb(210, 210, 210));
}
