/* main labels */

#labelYourControls
{
    color: rgb(190, 190, 190);
}

#masterTitleLabel,
#labelMetronomeIControls
{
    color: rgb(110, 110,110);
}

#masterMeter
{
    max-height: 2px;
    height: 2px;
    margin: 0px;
}

/* text input fields */
#userNameLineEdit
{
    border: none;
}

#userNameLineEdit:read-only
{
    color: gray;
}



/* ++++++++++++++++++++++++++++++++++++++++ */

/* main areas */

QMainWindow
{
    background-color: #494949;
    border: 1px solid rgb(70, 70, 70);
}

QMainWindow #bottomPanel
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
     stop: 0     #EDEDED,
     stop: 1.0   #989898);
    border-top: 1px solid black;
}

#leftPanel
{
   border: 1px solid rgb(55, 55, 55);
   border-radius: 2px;
   background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0     rgba(0, 0, 0, 10),
        stop: 1.0   rgba(0,0,0, 20));

    border: 1px solid #353535;
}

#contentTabWidget:pane
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     #dedede,
            stop: 1.0   #bcbcbc);
}

#contentTabWidget:pane,
#chatTabWidget:pane
{
    border: 1px solid rgba(0, 0, 0, 60);
    border-radius: 2px;
    padding: 0px;
}

#chatTabWidget:pane
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0     rgba(255, 255, 255, 80),
        stop: 0.85   rgba(255, 255, 255, 90),
        stop: 1.0   rgba(255, 255, 255, 140));
}

