/* some details of ninjam tracks */

NinjamTrackView #lowCutButton:checked,
NinjamTrackView #receiveButton:checked
{
    background-color: rgb(175, 175, 175);
}

NinjamTrackView QProgressBar
{
    border-radius: 2px;
}

NinjamTrackView[horizontal="true"] #panSlider
{
    max-width: 50px;
}

NinjamTrackGroupView[horizontal="true"] #topPanel
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

NinjamTrackView #channelName                /* ninjam channel name */
{
    border: none;
    background-color: rgba(0, 0, 0, 6);
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 160);
    max-width: 130px;
}

NinjamTrackGroupView #groupNameField        /* ninjamers name */
{
    border-radius: 2px;
}

NinjamTrackGroupView                        /* track group in ninjam window */
{
    border: 1px solid rgba(0, 0, 0, 80);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0      rgba(0, 0, 0, 0),
        stop:0.2    rgb(127,127,127)
        stop:1      rgb(127,127,127)
    );

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

NinjamTrackView[horizontal="true"][unlighted="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(150, 150, 150),
        stop:1 rgb(90, 90, 90));
}

NinjamTrackView[unlighted="true"] #lowCutButton:!checked
{
border: none;
background-color: rgb(100, 100, 100);
}

NinjamTrackView QPushButton#receiveButton:!checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgba(255, 90, 62, 140), stop:1 rgba(175, 0, 0, 140));
    border-color: rgb(50,50,50);;
}

NinjamTrackView QPushButton#receiveButton:hover:!checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgba(255, 90, 62, 180), stop:1 rgba(175, 0, 0, 180));
}

/* buttons in ninjam track when using horizontal layout
-------------------------------------------------------------*/

NinjamTrackView[horizontal="true"] #buttonBoost
{
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoost
{
   border-radius: 0px;
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-left: 1px solid rgba(0, 0, 0, 10);
   border-bottom-left-radius: 3px;
   border-right: 1px solid rgba(0, 0, 0, 10);
   margin: 0px;
   min-width: 12px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoost:checked
{
    margin-top: -1px;
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 rgba(255, 255, 255, 160),
        stop:0.2 rgba(255, 255, 255, 120),
        stop:0.7 rgba(255, 255, 255, 120),
        stop:1 rgba(255,255, 255, 30));
}

NinjamTrackView[horizontal="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(200, 200, 200),
        stop:0.01 rgb(240, 240, 240),
        stop:1 rgb(170, 170, 170)
    );
}


/* Ninjam window tool buttons (horizontal/vertical layout, narrow/wide tracks) */

NinjamRoomWindow QToolButton
{
    border: 1px solid rgba(0, 0, 0, 20);
    background-color: rgba(0, 0, 0, 8);
}

NinjamRoomWindow QToolButton:hover
{
    border: 1px solid rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 50);
}

NinjamRoomWindow QToolButton:checked
{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);
}

NinjamRoomWindow QToolButton#buttonVerticalLayout
{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#buttonHorizontalLayout
{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

NinjamRoomWindow QToolButton#wide
{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#narrow
{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


NinjamRoomWindow #licenceButton
{
    background-color: rgba(0, 0, 0, 8);
    border: 1px solid rgba(0, 0,0, 12);
    border-radius: 2px;
}

NinjamRoomWindow #licenceButton:hover
{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);
}



/* slider in ninjam tracks (not the track group) */
NinjamRoomWindow TrackGroupView BaseTrackView QSlider::groove:vertical
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     rgba(0, 0, 0, 50),
            stop: 1.0   rgba(0, 0, 0, 30)
            );
}



NinjamRoomWindow #content           /* the widget used to show ninjam tracks */
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.01, stop:0 rgba(0, 0, 0, 25), stop:1 rgba(0, 0, 0, 0));
    border-top: 1px solid rgba(0, 0, 0, 10);
}




/** The floating window showing the metronome/interval progress */
IntervalProgressWindow
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.8     rgb(210, 210, 210),
    stop: 1.0   rgba(160, 160, 160));
}




NinjamPanel #ninjamControlsPanel
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0     rgba(0, 0, 0, 10),
    stop: 1.0   rgba(0, 0, 0, 30));

    border-radius: 3px;
    border: 1px inset rgb(120, 120, 120);
}

NinjamPanel #soloButton,            /* metronome solo and mute */
NinjamPanel #muteButton
{
    border: 1px solid rgba(0, 0, 0, 60);
}


NinjamPanel QComboBox               /* bpi, bpm, accents and shape comboboxes */
{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 30), stop:1 rgba(0, 0, 0, 50));
}

#panelCombos QComboBox
{
    color: rgb(20, 20, 20);
}

#comboBpi-topLevel
{
    border: none;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop:0 rgb(185, 185, 185),
        stop:0.1 rgb(206, 206, 206),
        stop:0.45 rgb(206, 206, 206),
        stop:0.6 rgb(185, 185, 185),
        stop:1 rgb(185, 185, 185));
}

#comboBpm-topLevel
{
        background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop:0 rgb(172, 172, 172),
        stop:0.1 rgb(206, 206, 206),
        stop:0.45 rgb(206, 206, 206),
        stop:0.6 rgb(172, 172, 172),
        stop:1 rgb(172, 172, 172));
}

LooperWindow #buttonPlay:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
}

LooperWindow #buttonPlay:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
}

LooperWindow #buttonRec:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(234, 93, 103), stop:1 rgb(120, 0, 0));
}

LooperWindow #buttonRec[blinking="false"]:hover:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
}

LooperWindow #buttonRec[blinking="true"]:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 white,
        stop:0.2 rgba(255, 255, 255, 180),
        stop:0.85 rgba(255, 255, 255, 180),
        stop:1 rgba(255,255, 255, 40));
}

LooperWindow QLabel,
LooperWindow QGroupBox
{
    color: rgba(0, 0, 0, 140);
}

LooperWindow QGroupBox
{
    border: 1px solid rgba(0, 0, 0, 30);
}
