

NinjamTrackView[horizontal="true"] #buttonBoostMinus12,
NinjamTrackView[horizontal="true"] #buttonBoostPlus12,
NinjamTrackView[horizontal="true"] #buttonBoostZero {
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12{
   border-radius: 0px;
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-left: 1px solid rgba(0, 0, 0, 10);
   margin: 0px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid rgba(0, 0, 0, 10);
    margin: 0px;
}

NinjamTrackView[horizontal="true"] #buttonBoostZero{
    min-width: 12px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostZero:checked {
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"]{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(200, 200, 200),
        stop:0.01 rgb(240, 240, 240),
        stop:1 rgb(170, 170, 170)
    );
}

NinjamRoomWindow QToolButton{
    border: 1px solid rgba(0, 0, 0, 20);
    background-color: rgba(0, 0, 0, 8);
    min-height: 20px;
    min-width: 24px;
    padding: 0px;
}

NinjamRoomWindow QToolButton:hover{
    border: 1px solid rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 50);
}

NinjamRoomWindow QToolButton:checked{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);
}

NinjamRoomWindow QToolButton#buttonVerticalLayout{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#buttonHorizontalLayout{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

NinjamRoomWindow QToolButton#wide{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#narrow{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}



NinjamRoomWindow TrackGroupView BaseTrackView QSlider::groove:vertical{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     rgba(0, 0, 0, 50),
            stop: 1.0   rgba(0, 0, 0, 30)
            );
}


NinjamTrackView QProgressBar{ /* chunks display */
    border-radius: 2px;
}


NinjamTrackGroupView[horizontal="true"] #topPanel{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


NinjamRoomWindow #licenceButton
{
    min-width: 28px;
    background-color: rgba(0, 0, 0, 8);
    border: 1px solid rgba(0, 0,0, 12);
    border-radius: 2px;
}

NinjamRoomWindow #licenceButton:hover{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);

}

NinjamTrackView > #channelName{
    border: none; /* 1px solid rgba(0, 0, 0, 7);*/
    background-color: rgba(0, 0, 0, 6);
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 160);
    max-width: 130px;
}



NinjamRoomWindow #content{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.01, stop:0 rgba(0, 0, 0, 25), stop:1 rgba(0, 0, 0, 0));
    border-top: 1px solid rgba(0, 0, 0, 10);
}


NinjamRoomWindow #groupNameField {
    border-radius: 2px;
}

NinjamRoomWindow TrackGroupView{
    border: 1px solid rgba(0, 0, 0, 80);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0      rgba(0, 0, 0, 0),
        stop:0.2    rgb(127,127,127)
        stop:1      rgb(127,127,127)
    );

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/** The floating window showing the metronome/interval progress */
IntervalProgressWindow{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.8     rgb(210, 210, 210),
    stop: 1.0   rgba(160, 160, 160));
}




NinjamPanel #ninjamControlsPanel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0     rgba(0, 0, 0, 10),
    stop: 1.0   rgba(0, 0, 0, 30));

    border-radius: 3px;
    border: 1px inset rgb(120, 120, 120);
}

NinjamPanel #soloButton,
NinjamPanel #muteButton{
    border: 1px solid rgba(0, 0, 0, 60);
}



NinjamPanel QComboBox{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 30), stop:1 rgba(0, 0, 0, 50));
}



NinjamPanel QSlider::groove:vertical{
    border-radius: 2px;
}

