/* Chat */

#voteButton{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgba(255,255,255, 240),
    stop:1 rgba(255,255,255, 100));

    border: 1px outset rgb(45,45,45);
}

#voteButton:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(255,255,255, 200),
        stop:1 rgba(255,255,255, 50));

}

/* overriding Dialogs.css */
QMessageBox,
QInputDialog,
PluginScanDialog,
MidiToolsDialog{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(250, 250, 250),
        stop:1 rgba(180, 180, 180));
    border-radius: 2px;
}



QInputDialog QPushButton{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(80,80,80), stop:0.02 rgb(150, 150, 150), stop:0.7 rgba(160, 160, 160), stop:1 rgb(90,90,90));
    border-color: rgb(60, 60, 60);
    color: rgb(45,45,45);
}

/* ---------------- */

QPushButton:disabled
{
    background-color: rgba(0, 0, 0, 20);
    color: rgba(0, 0, 0, 60)
}

/* overriding LocalTrack.css */
FxPanel{
    border-radius: 2px;
}


/* overriding BaseTrack.css */
#buttonBoostMinus12,
#buttonBoostPlus12,
#buttonBoostZero
{
   padding: 0px;
   padding-top: 2px;
   padding-bottom: 2px;
   border: 0px;
   border-radius: 0px;
}

QPushButton#buttonBoostMinus12:checked,
QPushButton#buttonBoostPlus12:checked,
QPushButton#buttonBoostZero:checked {
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0,
        stop:0 rgba(255, 255, 255, 160),
        stop:0.2 rgba(255, 255, 255, 120),
        stop:0.7 rgba(255, 255, 255, 120),
        stop:1 rgba(255,255, 255, 30));
}

BaseTrackView QPushButton#buttonBoostMinus12{
   border-radius: 0px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border-top: 1px solid rgba(0, 0, 0, 10);
}

BaseTrackView QPushButton#buttonBoostPlus12{
   border-radius: 0px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom: 1px solid rgba(0, 0, 0, 10);
   margin: 0px;
}

NinjamTrackView[horizontal="true"] #buttonBoostMinus12,
NinjamTrackView[horizontal="true"] #buttonBoostPlus12,
NinjamTrackView[horizontal="true"] #buttonBoostZero {
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12{
   border-radius: 0px;
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
   border-left: 1px solid rgba(0, 0, 0, 10);
   margin: 0px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid rgba(0, 0, 0, 10);
    margin: 0px;
}

NinjamTrackView[horizontal="true"] #buttonBoostZero{
    min-width: 12px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostZero:checked {
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"]{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(200, 200, 200),
        stop:0.01 rgb(240, 240, 240),
        stop:1 rgb(170, 170, 170)
    );
}

NinjamRoomWindow QToolButton{
    border: 1px solid rgba(0, 0, 0, 20);
    background-color: rgba(0, 0, 0, 8);
    min-height: 20px;
    min-width: 24px;
    padding: 0px;
}

NinjamRoomWindow QToolButton:hover{
    border: 1px solid rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 50);
}

NinjamRoomWindow QToolButton:checked{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);
}

NinjamRoomWindow QToolButton#buttonVerticalLayout{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#buttonHorizontalLayout{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

NinjamRoomWindow QToolButton#wide{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

NinjamRoomWindow QToolButton#narrow{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

FxPanelItem{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 30), stop:1 rgba(0, 0, 0, 50));
    background-position: center right;
    background-repeat: none;
    max-height: 14px;
    width: 100%;
    border-radius: 2px;
    border: none;
}

BaseTrackView[unlighted="false"] FxPanelItem{
    border: 1px outset rgb(100, 100, 100);
}

FxPanelItem[containPlugin="false"]{
    background-image: url(':/images/arrow-down-lighter.png');
}
FxPanelItem[containPlugin="true"]{
    background-image: none;
}

FxPanelItem > QLabel{
    qproperty-alignment: AlignLeft;
    font-size: 10px;
    color: #D3D3D3;
    margin: 0px;
}

FxPanelItem:hover{
    background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgba(0, 0, 0, 50), stop:1 rgba(0, 0, 0, 70));
}

FxPanelItem > QPushButton{
     max-width: 10px;
     max-height: 10px;
     margin: 0px;
     padding: 0px;
     border-radius: 2px;
     border: 1px solid rgba(0, 0, 0, 80);
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgba(0, 0, 0, 120), stop:1 rgb(0, 0, 0, 50));
}

FxPanelItem > QPushButton:hover{
    border: 1px solid rgba(0, 0, 0);
}

FxPanelItem > QPushButton:checked{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
}


PluginScanDialog{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(250, 250, 250),
        stop:1 rgb(220, 220, 220));
}


PluginScanDialog QPlainTextEdit{
    background: transparent;
}

PluginScanDialog #labelPluginText{
    font-weight: bold;
}

QScrollBar:vertical,
QScrollBar:horizontal {
    border: 1px solid rgba(0, 0, 0, 45);
    background-color: rgba(0, 0, 0, 40);
    margin: 0px;
    border-radius: 2px;
}


QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
  border: 1px solid rgba(0, 0, 0, 85);
  border-radius: 2px;
  margin: 0px;
}

QScrollBar::handle:vertical {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
    stop:0 rgba(120, 126, 118, 64),
    stop:0.47 rgba(91, 91, 91, 64),
    stop:0.49 rgba(81, 75, 77, 64),
    stop:0.92 rgba(142, 140, 140, 64));

    max-height: 20px;
    height: 20px;
}

QScrollBar::handle:vertical:hover {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(140, 146, 138, 255), stop:0.47 rgba(121, 121, 121, 255), stop:0.49 rgba(111, 95, 97, 255), stop:0.92 rgba(172, 170, 170, 255));
}

QScrollBar::handle:horizontal {
  background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
    stop:0.92 rgba(120, 126, 118, 64),
    stop:0.49 rgba(91, 91, 91, 64),
    stop:0.47 rgba(81, 75, 77, 64),
    stop:0 rgba(142, 140, 140, 64));
  max-width: 20px;
  width: 20px;
}

QScrollBar::handle:horizontal:hover {
  background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0,
  stop:0.92 rgba(140, 146, 138, 255), stop:0.49 rgba(121, 121, 121, 255), stop:0.47 rgba(101, 95, 97, 255), stop:0 rgba(162, 160, 160, 255));
}


QScrollBar::add-line:vertical {
  border: none;/*2px solid red;*/
  height: 0px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
  border: none;/*2px solid red;*/
  width: 0px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  border: none;
  height: 0px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
  border: none;
  width: 0px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
  background: none;
}


QLineEdit,
#userNamePanel{
    border-radius: 3px;
    background-color: #C5C5C5;
    border-color: #B2B2B2;
}


QLineEdit[enabled="false"]{
    border-radius: 2px;
    padding: 2px;
    background: rgb(0, 0, 0, 40);
    color: rgb(0, 0, 0, 50);
    border: none;
}


/*  SLIDER ++++++++++++++++++++++++++++++++ */

QSlider::add-page:vertical,
QSlider::groove:vertical {
    border: 1px solid rgba(0, 0, 0, 55);
    border-radius: 2px;
}

QSlider::groove:horizontal{
    background-color: rgba(0, 0, 0, 30);
    height: 3px;
    border-radius: 2px;
    border: 1px inset rgb(140, 140, 140);
}

QSlider::groove:vertical{
    border:         1px solid rgba(0, 0, 0, 40);
    border-right:   1px solid rgb(255, 255, 255, 140);
    border-bottom:  1px solid rgba(255, 255, 255, 140);
}


NinjamRoomWindow TrackGroupView BaseTrackView QSlider::groove:vertical{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     rgba(0, 0, 0, 50),
            stop: 1.0   rgba(0, 0, 0, 30)
            );
}

BaseTrackView[unlighted="true"] QSlider::add-page:vertical{
    background: rgb(255,255,255, 50);

}

BaseTrackView #peaksDbLabel{
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 25);
    background-color: rgba(0, 0, 0, 15);
}


BaseTrackView[unlighted="true"] #peaksDbLabel,
BaseTrackView[unlighted="true"] .QPushButton
{
   border: none;
   background-color: rgb(100, 100, 100);
}




QSlider::groove:vertical {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     rgb(201, 201, 201),
            stop: 1.0   rgb(115, 115, 115)
            );
    width: 5px;
}

BaseTrackView[unlighted="true"] QSlider::groove:vertical{
    background-color: rgba(0, 0, 0, 40);
    border-color: rgba(0, 0, 0, 15);
}


QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.8    rgb(120, 120, 120),
        stop: 1      rgba(0, 0, 0, 20));

    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0px;
    width: 11px;
    /*height: 20x;*/
    border-radius: 5px;
    border: 1px outset rgb(80, 80, 80);
}

/* PAN SLIDER ---------------- */
#panSlider::handle{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.8    rgb(180, 180, 180));

    border: 1px outset rgb(100, 100, 100);

}

#panSlider::handle:hover{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(180, 180, 180),
        stop: 0.8    rgb(230, 230, 230));

    border: 1px outset rgb(70, 70, 70);

}

BaseTrackView[unlighted="true"] QSlider#panSlider::groove{
    border: 1px solid rgba(0, 0, 0, 30);
}



/*------------------------------ */

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0      rgb(240, 240, 240),
        stop: 0.8    rgb(150, 150, 150),
        stop: 1      rgba(0, 0, 0, 20));

}

QSlider::handle:vertical{
    background: qlineargradient(x1:0, y1:0.3, x2:0.7, y2:1,
        stop: 0      rgb(230, 230, 230),
        stop: 0.9    rgb(170, 170, 170),
        stop: 1      rgba(0, 0, 0, 20));

    margin-left: -5px;
    margin-right: -5px;
    padding: 0px;
    height: 12px;
    border-radius: 6px;
    border: 1px outset rgb(90, 90, 90);
}

QSlider::handle:vertical:hover{
background: qlineargradient(x1:0, y1:0.3, x2:0.7, y2:1,
    stop: 0      rgb(240, 240, 240),
    stop: 0.9    rgb(200, 200, 200),
    stop: 1      rgba(0, 0, 0, 20));
}


NinjamPanel QSlider::groove:vertical{
    border-radius: 2px;
}


/* +++++++++++++++++++++++++++++++++++++++++++ */
PeakMeter{
    background-color: rgba(0, 0, 0, 10);
    border: 1px inset rgba(0, 0, 0, 15);
    border-radius: 1px;
    min-width: 2px;
    min-height: 2px;
}

PeakMeter#masterMeterL,
PeakMeter#masterMeterR{
    max-height: 2px;
    height: 2px;
    margin: 0px;
}

#labelYourControls
{
    color: rgb(190, 190, 190);
}

#masterTitleLabel,
#labelMetronomeIControls
{
    color: rgb(110, 110,110);
}





/* ++++++++++++++++++++++++++++++++++++++++ */

QMainWindow{
    background-color: #494949;
    border: 1px solid rgb(70, 70, 70);
}

QMainWindow #bottomPanel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
     stop: 0     #EDEDED,
     stop: 1.0   #989898);
    border-top: 1px solid black;
}

/* main panels */
#leftPanel{
   border: 1px solid rgb(55, 55, 55);
   border-radius: 2px;
   background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0     rgba(0, 0, 0, 10),
        stop: 1.0   rgba(0,0,0, 20));

    border: 1px solid #353535;
}


/* Main panels title */
#contentTabWidgetPanel > .QLabel{
    color: rgb(190, 190, 190);
    qproperty-alignment: AlignCenter;
}

#userNameLineEdit
{
    background-color: transparent;
    border: none;
}

#userNameLineEdit:read-only
{
    color: gray;
}


/* ------------------------------ */


#contentTabWidget:pane{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop: 0     #dedede,
            stop: 1.0   #bcbcbc);
}

#contentTabWidget:pane,
#chatTabWidget:pane{
    border: 1px solid rgba(0, 0, 0, 60);
    border-radius: 2px;
    padding: 0px;
}

#chatTabWidget:pane{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0     rgba(255, 255, 255, 80),
        stop: 0.85   rgba(255, 255, 255, 90),
        stop: 1.0   rgba(255, 255, 255, 140));
}

 .QTabWidget::tab-bar {
    left: 10px; /* move to the right by 5px */
    padding: 3px;
 }

QTabBar::tab {
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
 }

QTabBar::tab:selected,
QTabBar::tab:hover
{
    background-color: rgb(210, 210, 210)
}

QTabBar::tab:selected
{
    border: 1px solid;
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 3px; /* make non-selected tabs look smaller */
    color: rgb(90, 90, 90);
}

/*++++++++++++++++++++*/

/* TODO this piece can be removed? */
.QMainWindow .QGroupBox::title {
subcontrol-origin: margin;
subcontrol-position: top center; /* position at the top center */
padding: 10 3px;
color: rgb(190, 190, 190);
border-bottom-style: groove;
border-bottom-color: darkgray;
border-width: 3px;
}


BusyDialog{
    border: 1px solid rgba(0, 0, 0, 30);
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
            stop:0 rgb(255, 255, 255),
            stop:0.1 rgb(240, 240, 240)
            stop:0.9 rgba(200, 200, 200),
            stop:1 rgba(180, 180, 180));
}



JamRoomViewPanel{
    background-color: none;
    border: 1px solid rgba(0, 0, 0, 60);
    border-radius: 3px;
}

JamRoomViewPanel #panelTop{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
       stop:0 #EAEAEA,
        stop:1 #CACACA);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

JamRoomViewPanel #content{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(255, 255, 255),
            stop:1 rgb(250, 250, 250));
    border: none;
    border-top: 1px solid #dddddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*+++++++++++++++++++++++++++++++*/

#xmitButton
{
    border-radius: 2px;
}

#xmitButton:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgba(90, 255, 62, 140), stop:1 rgb(0, 175, 0, 140));
    border-color: rgb(50, 50, 50);
}


#xmitButton[preparing="true"]{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255,255,0), stop:1 rgb(204,204,0));
}

#xmitButton:!checked{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgba(255, 90, 62, 140), stop:1 rgba(175, 0, 0, 140));
    border-color: rgb(50,50,50);
    color: rgb(140, 140, 140);
}

#xmitButton:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgba(90, 255, 62, 170), stop:1 rgb(0, 175, 0, 170));
}

#xmitButton:hover:!checked{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgba(255, 90, 62, 180), stop:1 rgba(175, 0, 0, 180));

}
/*+++++++++++++++++++++++++++++++*/

/*  Track view +++++++++++++++++++++++++++++++++++++++++++++++ */
BaseTrackView{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(200, 200, 200),
        stop:0.01 rgb(240, 240, 240),
        stop:1 rgb(110, 110, 110)
    );
   border: 1px solid rgb(61,61,61);
   border-radius: 0px;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   font-size: 8px; /*db value */
}

BaseTrackView[unlighted="true"] > QFrame#topSeparator, BaseTrackView[unlighted="true"] > QFrame#panSectionSeparator{
    background-color: rgba(0, 0, 0, 5);
}

BaseTrackView[unlighted="true"]{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 rgb(150, 150, 150),
        stop:1 rgb(90, 90, 90));
}


QPushButton{
    border-radius: 2px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0 white,
        stop:0.2 rgba(255, 255, 255, 180),
        stop:0.85 rgba(255, 255, 255, 180),
        stop:1 rgba(255,255, 255, 40));
}

QPushButton:checked{
    background-color: rgba(0, 0, 0, 70);
}

QPushButton:hover{
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(240, 240, 240),
    stop:0.2 rgb(255, 255, 255),
    stop:0.7 rgb(240, 240, 240),
    stop:1 rgb(210,210, 210)
    );
    color: black;
}

QPushButton#soloButton,
QPushButton#muteButton,
QPushButton#preferencesButton
{
    padding-left: 3px;
    padding-right: 3px;
}



NinjamTrackView QProgressBar{ /* chunks display */
    border-radius: 2px;
}

QPushButton:hover#soloButton, QPushButton:hover#muteButton{
/*background-color: rgba(255, 255, 255, 80);*/
color: rgba(0, 0, 0, 200);
}

QPushButton:checked#soloButton{
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.95, stop:0 rgb(90, 255, 62), stop:1 rgb(0, 175, 0));
color: black;
}

QPushButton:hover:checked#soloButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 255, 82), stop:1 rgb(30, 195, 30));
color: gray;
}

QPushButton:checked#muteButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 90, 62), stop:1 rgb(175, 0, 0));
color: lightgray;
}

QPushButton:hover:checked#muteButton {
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.9, stop:0 rgb(255, 110, 122), stop:1 rgb(120, 0, 0));
color: white;
}

/* TRACK GROUPs */

TrackGroupView {
    border-radius: 2px;
}

TrackGroupView > #topPanel{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(245, 245, 245),
    stop:0.06 rgb(240, 240, 240),
    stop:1 rgb(180, 180, 180));
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

NinjamTrackGroupView[horizontal="true"] #topPanel{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

TrackGroupView[unlighted="true"] > #topPanel  {
   background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(70, 70, 70));
}

TrackGroupView #groupNameField {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: normal;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/

LocalTrackView[highlighted="true"]{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(230, 230, 230), stop:1 rgb(140, 140, 140));
}

LocalTrackView #inputPanel{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1,
    stop:0 rgba(0, 0, 0, 60),
    stop:1 rgba(0, 0, 0, 90));
    border-radius: 2px;
}

LocalTrackView #inputPanel:hover{
    background-color: qlineargradient(x1:0, y1:0.4, x2:0, y2:1, stop:0 rgba(0, 0, 0, 20), stop:1 rgba(0, 0, 0, 40));
}

LocalTrackView #midiPeakMeter{
    border-radius: 1px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* NINJAM */
/* overriding NinjamWindow.css */
NinjamRoomWindow #licenceButton
{
    min-width: 28px;
    background-color: rgba(0, 0, 0, 8);
    border: 1px solid rgba(0, 0,0, 12);
    border-radius: 2px;
}

NinjamRoomWindow #licenceButton:hover{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgba(0, 0, 0, 40);

}

NinjamTrackView > #channelName{
    border: none; /* 1px solid rgba(0, 0, 0, 7);*/
    background-color: rgba(0, 0, 0, 6);
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 160);
    max-width: 130px;
}


/** overriding NinjamWindow.css */
NinjamRoomWindow #groupNameField {
    border-radius: 2px;
}

NinjamRoomWindow TrackGroupView{
    border: 1px solid rgba(0, 0, 0, 80);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop:0      rgba(0, 0, 0, 0),
        stop:0.2    rgb(127,127,127)
        stop:1      rgb(127,127,127)
    );

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/** The floating window showing the metronome/interval progress */
IntervalProgressWindow{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.8     rgb(210, 210, 210),
    stop: 1.0   rgba(160, 160, 160));
}



NinjamPanel #ninjamControlsPanel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0     rgba(0, 0, 0, 10),
    stop: 1.0   rgba(0, 0, 0, 30));

    border-radius: 3px;
    border: 1px inset rgb(120, 120, 120);
}

NinjamPanel #soloButton,
NinjamPanel #muteButton{
    border: 1px solid rgba(0, 0, 0, 60);
}



NinjamPanel QComboBox{
    background-color: qlineargradient(x1:0, y1:0.6, x2:0, y2:1, stop:0 rgba(0, 0, 0, 30), stop:1 rgba(0, 0, 0, 50));
}


NinjamRoomWindow #content{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:0.01, stop:0 rgba(0, 0, 0, 25), stop:1 rgba(0, 0, 0, 0));
    border-top: 1px solid rgba(0, 0, 0, 10);
}

/*Chat */

ChatPanel .QLineEdit##chatText{
    border: 1px solid #919191;
}

ChatMessagePanel
{
    border: 1px solid rgb(0, 0, 0, 80);
    border-radius: 2px;
}

ChatMessagePanel #labelTimeStamp{
    margin: 2px;
}



ChatMessagePanel #translateButton{
    border: 1px solid rgb(0, 0, 0, 80);
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;

    max-width: 8px;
    max-height: 6px;
}

ChatMessagePanel QPushButton:hover#translateButton{
    border-color: rgb(200, 200, 200);
    border-style: outset;
}

ChatMessagePanel #labelMessage
{
    margin: 1px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



ChordLabel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgba(0,0,0, 5),
    stop:1 rgba(0,0,0, 10));

    color: gray;
    border-radius: 2px;
}

ChordLabel[current="true"]{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgba(255,255,255, 220),
    stop:1 rgba(255,255,255, 180));
}



