/*
    Chat stylesheet for Black theme
*/


/* ChatPanel is the widget used to layout all chat controls (messages in a
scroll area, the text input field, but clear and auto translate buttons).
----------------------------------------------*/

ChatPanel #chatText
{                                           /* text input field used to send chat messages */
    border-color: rgba(0, 0, 0, 80);
    background-color: rgb(140, 140, 140);
}

ChatPanel #chatText:focus                   /* text input field focused */
{
    color: black;
    border-color: rgba(0, 0, 0, 160);
    background-color: rgb(180, 180, 180);
}



/* ChatMessagePanel is the widget used to show ONE chat message
----------------------------------------------------------------*/
ChatMessagePanel
{
    border: 1px solid black;
}

ChatMessagePanel #labelUserName             /* The name of chat message author */
{
    padding: 0px;
    margin-bottom: 1px;
}

ChatMessagePanel #translateButton:hover,     /* hover effect in chat message translate (T) button */
ChatMessagePanel #blockButton:hover
{
    border-color: rgb(60, 60, 60);
    border-style: outset;
    color: rgb(60, 60, 60);
    font-weight: bold;
}


