/* Dialogs in Black theme
-------------------------------------*/

PreferencesDialog
{
    background-color: rgb(35, 35, 35);
}

PreferencesDialog #tabAudio, #tabMidi, #tabVST, #tabRecording, #tabMetronome
{
    background-color: rgb(80, 80, 80);
}

PluginScanDialog
{
    background-color: rgb(80, 80, 80);
}


PluginScanDialog QPlainTextEdit
{
    background: transparent;
}

PluginScanDialog #labelPluginText
{
    font-weight: bold;
}

BusyDialog
{
    border: 1px solid rgb(40, 40, 40);
    padding: 0px;
    margin: 0px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(80, 80, 80),
    stop:1 rgb(20, 20, 20));
}

QMessageBox,
QInputDialog,
PluginScanDialog,
MidiToolsDialog
{
    background-color: rgb(140, 140, 140);
    border: 1px outset gray;
    padding: 32px;
}
