/* Dialogs in Black theme
-------------------------------------*/

PluginScanDialog
{
    background-color: rgb(80, 80, 80);
}


PluginScanDialog QPlainTextEdit
{
    background: transparent;
}

PluginScanDialog #labelPluginText
{
    font-weight: bold;
}

BusyDialog
{
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    background-color: rgb(80, 80, 80);
}
