/* General stylesheet for Black theme
-------------------------------------*/

/* Button ----------------------*/
QPushButton
{
    background-color: rgb(140, 140, 140);
    border: 1px solid black;
}

QPushButton:checked
{
    background-color: rgb(80, 80, 80);
}

QPushButton:hover
{
    background-color: rgb(20, 20, 20);
    color: rgb(140, 140, 140);
    border: 1px solid black;
}

QPushButton[enabled="false"]        /* disabled buttons */
{
    background: none;
    color: black;
    border-color: rgba(0, 0, 0, 40);
}

/* Scroll bars ----------------------*/
QScrollBar:vertical,
QScrollBar:horizontal
{
    border: none;
    background-color: rgba(0, 0, 0, 40);
    margin: 0px;
}

QScrollBar:vertical
{
    width: 14px;
    margin-left: 6px;
}

QScrollBar:horizontal
{
    height: 14px;
    margin-top: 6px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal
{
  border: 1px solid rgba(0, 0, 0, 45);
  background-color: rgb(80, 80, 80);
  margin: 0px;
}

QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover
{
    background-color: rgb(140, 140, 140);
}

QScrollBar::handle:vertical
{
  max-height: 20px;
  height: 20px;
}

QScrollBar::handle:horizontal
{
  max-width: 20px;
  width: 20px;
}

QScrollBar::add-line:vertical
{
  border: none;
  height: 10px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal
{
  border: none;
  width: 10px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
  border: none;
  height: 10px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
  border: none;
  width: 10px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal
{
  background: none;
}



/* Text fields (QLineEdit class) used in user name, channel name, etc.
-----------------------------------------------------------------------*/
QLineEdit
{
    background-color: rgb(140, 140, 140);
    border-color: rgba(0, 0, 0, 45);
    color: rgb(80, 80, 80);
}

QLineEdit:focus,
QLineEdit#groupNameField:focus
{
    border-color: rgba(0, 0, 0, 90);
    background-color: rgb(30, 30, 30);
    color: rgb(140, 140, 140);
}



/*  SLIDERs ++++++++++++++++++++++++++++++++ */

QSlider::groove:vertical
{
    border: none;
}

QSlider::groove:horizontal
{
    background-color: rgba(0, 0, 0, 50);
    height: 2px;
    border: none;
}
QSlider::groove:vertical
{
    background-color: rgba(0, 0, 0, 50);
    width: 2px;
}


QSlider::handle
{
    background: rgb(80, 80, 80);
    border: 1px outset rgb(80, 80, 80);
    border-radius: 2px;
}

QSlider::handle:hover
{
    background: rgb(140, 140, 140);
    border: 1px outset rgb(80, 80, 80);
}

QSlider::handle:horizontal
{
    margin-top: -8px;
    margin-bottom: -7px;
    padding: 0px;
    width: 8px;
    height: 15px;
}

QSlider::handle:vertical
{
    margin-left: -9px;
    margin-right: -9px;
    padding: 0px;
    height: 9px;
    width: 24px;
}




/* TabBar ----------------------*/
QTabBar::tab
{
    background-color: rgb(200, 200, 200);
}

QTabBar::tab:selected,
QTabBar::tab:hover
{
    color: rgb(140, 140,140);
    background-color: rgb(20, 20, 20)
}

QTabBar::tab:!selected
{
    margin-top: 3px; /* make non-selected tabs look smaller */
    color: rgb(140, 140,140);
    background-color: black
}
