#userNamePanel
{
    color: rgb(140, 140, 140);
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(45, 45, 45),
    stop:1 rgb(65, 65, 65));
    border: 1px solid rgb(55, 55, 55);
    padding: 1px;
}

#labelYourControls
{
    color: rgb(140, 140, 140);
}

#masterTitleLabel,
#labelMetronomeIControls
{
    color: rgb(90, 90, 90);
}

#masterMeterL,
#masterMeterR
{
    max-height: 4px;
    height: 4px;
    margin: 0px;
}

#userNameLineEdit
{
    color: rgb(150, 150, 150);
    background-color: transparent;
    border: none;
}

#userNameLineEdit:read-only
{
    color: rgb(100, 100, 100);
}

/* ------------------------------ */

/* main areas */

QMainWindow
{
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(100, 100, 100);
}

#bottomPanel
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(50, 50, 50),
    stop:1 rgb(10, 10, 10));
    border-top: 1px solid rgb(30, 30, 30);
    border-left: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-bottom: 1px solid rgb(30, 30, 30);
}

#leftPanel
{
   background-color: rgb(20, 20, 20);
}

#contentTabWidget:pane
{
    background-color: rgb(20, 20, 20);
}

#contentTabWidget:pane,
#chatTabWidget:pane
{
    border: none;
    padding: 0px;
}


#chatTabWidget:pane,
#chatTabWidget QTabBar::tab
{
    background-color: rgb(20, 20, 20);
    color: rgb(140, 140, 140);
}
