

NinjamTrackView[horizontal="true"] #buttonBoostMinus12,
NinjamTrackView[horizontal="true"] #buttonBoostPlus12,
NinjamTrackView[horizontal="true"] #buttonBoostZero
{
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12
{

   border-left: 1px solid rgba(0, 0, 0, 10);
   margin: 0px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12
{

    border-right: 1px solid rgba(0, 0, 0, 10);
    margin: 0px;
}

NinjamTrackView[horizontal="true"] #buttonBoostZero
{
    min-width: 12px;
}

NinjamTrackView[horizontal="true"] QPushButton#buttonBoostMinus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostPlus12:checked,
NinjamTrackView[horizontal="true"] QPushButton#buttonBoostZero:checked
{
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 30);
}

NinjamTrackView[horizontal="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop:0 rgb(240, 240, 240),
        stop:1 rgb(200, 200, 200));
}

/* Tool buttons: track vertical/horizontal, wide/narrow and server licence buttons
------------------------------------------------------------------------------------*/
#licenceButton
{
    border: 1px solid black;
    max-height: 20px;
    width: 28px;
}

NinjamRoomWindow QToolButton:hover,
#licenceButton:hover
{
    border: 1px solid black;
    background-color: rgb(120, 120, 120);
}

NinjamRoomWindow QToolButton:hover:checked,
#licenceButton:hover:checked
{
    border: 1px solid black;
    background-color: rgb(140, 140, 140);
}

NinjamRoomWindow QToolButton,
#licenceButton
{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 10);
}

NinjamRoomWindow QToolButton
{
    border: 1px solid black;
    height: 20px;
    min-width: 28px;
    padding: 0px;
}

NinjamRoomWindow QToolButton:checked
{
    border: 1px solid black;
    background-color: rgb(60, 60, 60);
}


NinjamRoomWindow QToolButton#buttonVerticalLayout:!checked
{
    border: 1px solid black;
    border-right-color: none;
}
NinjamRoomWindow QToolButton#buttonHorizontalLayout:!checked
{
    border: 1px solid black;
    border-left-color: none;
}

NinjamRoomWindow #labelUserName
{
    color: rgb(80, 80, 80);
}

/* Ninjam tracks
-----------------------------------------*/

NinjamTrackView[unlighted="true"] #channelName              /* user is not xmiting */
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(70, 70, 70),
    stop:1 rgb(50, 50, 50));
    border: 1px solid rgb(60, 60, 60);
}


NinjamTrackView  #channelName               /* channel name for ninjamers */
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(60, 60, 60),
    stop:1 rgb(80, 80, 80));
    border: 1px solid rgb(70, 70, 70);
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    color: rgb(140, 140, 140);;
    max-width: 130px;
}



/* NinjamPanel is the widget where the ninjam controls are showed (in bottom when we are connected in a server)
----------------------------------------------------------------------------------------------------------------*/
NinjamPanel #ninjamControlsPanel
{
    background-color: rgba(0, 0, 0, 30);
    border: 1px solid rgb(20, 20, 20);
}

NinjamPanel #soloButton,
NinjamPanel #muteButton
{
    background-color: rgb(140, 140, 140);
}

NinjamPanel QComboBox
{
    background-color: rgba(0, 0, 0, 30);
}





NinjamTrackGroupView                        /* ninjam track group. If a ninjamer is using 2 channels they will appear grouped */
{
    border: 1px solid rgb(140, 140, 140);
}


IntervalProgressWindow                      /* The floating window showing the metronome/interval progress */
{
    background-color: rgb(140, 140, 140);
}

#panelCombos QLabel             /* The labels in left side of comboboxes (bpi, bpm, accents and shape) */
{
    color: rgb(180, 180, 180);
}

#panelCombos QComboBox
{
    color: rgb(140, 140, 140);
}
