/* JamRoomViewPanel is the widget used to show ONE public room/server */

JamRoomViewPanel
{
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(180, 180, 180);
    border-top: none;
    border-left: none;
}

JamRoomViewPanel #content                   /* where the user names and wave form are showed */
{
    background: rgb(20, 20, 20);
}
