/* JamRoomViewPanel is the widget used to show ONE public room/server */

JamRoomViewPanel
{
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(250, 250, 250);
    border-top: none;
    border-left: none;
}

JamRoomViewPanel #content                   /* where the user names and wave form are showed */
{
    background: rgb(30, 30, 30);
}
