/* JamRoomViewPanel is the widget used to show ONE public room/server */

JamRoomViewPanel
{
    background-color: rgb(35, 35, 35);
    border: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

JamRoomViewPanel #content                   /* where the user names and wave form are showed */
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(70, 70, 70),
    stop:1 rgb(20, 20, 20));
}

JamRoomViewPanel #labelName             /* the server name (ninbot.com, ninjamer.com, etc) */
{
    color: rgb(140, 140,140);
    font-weight: bold;
}

JamRoomViewPanel .PlayerLabel
{
    color: rgb(140, 140, 140);
}
