/* Local track stylesheet for Volcano theme */


/* FxPanelItem is the 'slot' for one vst plugin
--------------------------------------------------*/
FxPanelItem
{
background-color: rgba(255, 106, 0, 100);
    background-position: center right;
    background-repeat: none;
    max-height: 14px;
    border: none;
    border-radius: 2px;
}

BaseTrackView[unlighted="false"] FxPanelItem            /* slot border when the track is not xmiting */
{
    border: 1px outset rgba(0, 0, 0, 40);
}

FxPanelItem[containPlugin="false"]                      /* empty slot */
{
    background-image: url(':/images/arrow-down-lighter.png');
}

FxPanelItem[containPlugin="true"]                       /* non empty slot */
{
    background-image: none;
}

FxPanelItem  QLabel                                     /* plugin name label */
{
    qproperty-alignment: AlignLeft;
    font-size: 10px;
    color: white;
    margin: 0px;
}

FxPanelItem:hover                                       /* slot hover effect */
{
    background-color: rgba(0, 0, 0, 60);
}

FxPanelItem QPushButton                                 /* the small button used to bypass the plugin */
{
     max-width: 10px;
     max-height: 10px;
     margin: 0px;
     padding: 0px;
     border: 1px solid rgba(0, 0, 0, 60);
     background-color: rgba(0, 0, 0, 120);
}

FxPanelItem QPushButton:hover                           /* hover effect for the small 'plugin bypass' button */
{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 60);
}

FxPanelItem QPushButton:checked                         /* 'plugin bypass' button is checked */
{
    background-color: rgb(0, 210, 0);
    border-color: rgb(0, 100, 0);
}

FxPanelItem QPushButton:checked:hover                   /* hover effect for 'plugin bypass' button when checked */
{
    background-color: rgb(0, 225, 0);
}


LocalTrackView[highlighted="true"]
{
    background: rgba(255, 255, 255, 40);
}

LocalTrackView[unlighted="true"],
LocalTrackGroupView[unlighted="true"] #topPanel
{
    background: rgb(193, 106, 48);
}

LocalTrackView #inputPanel
{
    background-color: rgba(255, 106, 0, 100);
    border-radius: 2px;
}

LocalTrackView[unlighted="false"] #inputPanel    /* input panel color when user is transmiting */
{
    border: 1px outset rgba(0, 0, 0, 50);
}

LocalTrackView #inputPanel:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0 rgb(255, 142, 60, 2),
    stop:1 rgb(255, 106, 0, 150));
}

LocalTrackView[unlighted="true"] #inputPanel:hover
{
    background-color: rgba(0, 0, 0, 30);
}

#xmitButton
{
    margin-top: 3px;
}

#xmitButton:checked
{
    background-color: rgb(0, 195, 0);
    border-color: rgb(100, 100, 100);
}

#xmitButton[preparing="true"],
#voiceChatButton:checked[blinking="true"]
{
    background-color: rgb(255, 255, 0);
    color: black;
}

#voiceChatButton:checked[blinking="true"]
{
     border-color: 1px outset #68300F;
}

#xmitButton:!checked
{
    background-color: rgb(255, 0, 0);
    border-color: rgba(0, 0, 0, 30);
    color: black;
}

#xmitButton:hover
{
    background-color: rgb(0, 215, 0);
}

#xmitButton:hover:!checked
{
    background-color: rgb(255, 40, 40);
    border-color: rgba(0, 0, 0, 90);
}

#voiceChatButton:!checked,
TrackGroupView[unlighted="true"] #voiceChatButton:checked[blinking="true"] /* Voice chat button not blinking when not transmitting */
{
    background-color:  rgb(189, 90, 29);
    border: 1px inset #68300F;
}

#voiceChatButton:hover
{
    background-color: #87431c
}

LocalTrackView #buttonLooper:disabled
{
    border: none;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #FDE5A9,
        stop: 1.0 #FFB301);
}

LocalTrackView[unlighted="true"] #buttonLooper
{
    background-color: rgba(0, 0, 0, 30);
    border: none;
}

LocalTrackGroupView #groupNameField
{
    font-size: 10px;
}
