#userNamePanel
{
    border-color: rgba(0, 0, 0, 160);
    padding: 1px;
    border-radius: 2px;
}


/* these two elements need use the same NON-transparent color to work ok in AU and VSt plugin (using top level text editor) */
#userNameLineEdit,
#userNamePanel
{
    background-color: rgb(210, 142, 100);
}


#labelYourControls
{
    color: rgb(200, 200, 200);
}

#masterTitleLabel,
#labelMetronomeIControls
{
    color: rgb(40, 40, 40);
}

#masterMeterL,
#masterMeterR
{
    max-height: 4px;
    height: 4px;
    margin: 0px;
}

#userNameLineEdit
{
    border: none;
}

#userNameLineEdit:read-only
{
    color: rgba(0, 0, 0, 90);
}

/* ------------------------------ */

/* main areas */

QMainWindow
{
    background-color: #D49061;
    border: 1px solid rgb(90, 90, 90);
}

#bottomPanel
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.5 rgba(255, 255, 255, 90),
        stop: 1.0 rgba(255, 255, 255, 30));
    border: none;
    border-radius: 3px;
}

#leftPanel
{
    background-color: #BD5A1D;
    border-radius: 3px;
}

#contentTabWidget:pane
{
    /* this is the 'volcano' gradient */
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.5 rgb(239, 114, 24),
        stop: 1.0 rgb(197, 34, 1));

    border-radius: 3px;
    border-top-left-radius: 0px;
}

#contentTabWidget:pane,
#chatTabWidget:pane
{
    border: none;
    padding: 0px;
}


#chatTabWidget:pane,
#chatTabWidget QTabBar::tab
{
    background-color: #BD5A1D;
    border-color: rgba(40, 40, 40, 90);
    color: rgb(210, 210, 210);
}
