
NinjamTrackView[horizontal="true"] QPushButton#lowCutButton:hover:checked,
NinjamTrackView[horizontal="true"] QPushButton#receiveButton:hover:checked,
NinjamTrackView QPushButton#lowCutButton:hover:checked,
NinjamTrackView QPushButton#receiveButton:hover:checked

{
    background-color: rgb(229, 99, 24);
    border: none;
}

NinjamTrackView[horizontal="true"]
{
    background-color: rgba(255, 255, 255, 10);
}

NinjamTrackView[horizontal="true"][unlighted="true"]
{
    background: rgba(199, 129, 77, 200);
}

NinjamTrackView[unlighted="true"][horizontal="true"] QSlider::handle:horizontal
 {
 background: rgba(179, 89, 37, 200);
 Border: none;
 }

/* Tool buttons: track vertical/horizontal/grid, wide/narrow and server licence buttons
------------------------------------------------------------------------------------*/

QToolButton:hover,
#licenceButton:hover
{
    border: 1px solid rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 80);
}

NinjamRoomWindow QToolButton:hover:checked
{
    background-color: rgba(255, 255, 255, 40);
}

#buttonVerticalLayout,
#buttonHorizontalLayout,
#buttonGridLayout,
#wide,
#narrow,
#licenceButton,
#instrumentsMenu QToolButton:!hover,
#chordsButton
{
    border: 1px solid rgba(0, 0, 0, 50);
    background-color: rgba(255, 255, 255, 10);
}

#buttonVerticalLayout:checked,
#buttonHorizontalLayout:checked,
#buttonGridLayout:checked,
#wide:checked,
#narrow:checked
{
    background-color: rgba(255, 255, 255, 60);
    border: 1px solid rgba(0, 0, 0, 100);
}

#buttonVerticalLayout:hover,
#buttonHorizontalLayout:hover,
#buttonGridLayout:hover,
#wide:hover,
#narrow:hover,
#licenceButton:hover,
#chordsButton:hover
{
    background-color: rgba(255, 255, 255, 120);
    border: 1px solid rgba(0, 0, 0, 130);
}


NinjamRoomWindow QToolButton#buttonVerticalLayout:!checked {
    border-right-color: none;
}

NinjamRoomWindow QToolButton#buttonGridLayout:!checked {
    border-left-color: none;
}

NinjamRoomWindow QToolButton#buttonHorizontalLayout:!checked {
    border-left-color: none;
    border-right-color: none;
}


/* Ninjam tracks
-----------------------------------------*/

NinjamTrackView[unlighted="true"]{           /* user is not xmiting */

    background: rgb(193, 106, 48,);
}

NinjamTrackView #lowCutButton:!checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #FDE5A9,
        stop: 1.0 #FFB301);
}

NinjamTrackView #lowCutButton:checked,
NinjamTrackView #receiveButton:checked
{
    background-color: #B35925;
}

NinjamTrackView #lowCutButton:hover
{
    background-color: #fed87b;
}

NinjamTrackView[unlighted="true"] #lowCutButton,
NinjamTrackView[unlighted="true"] #receiveButton
{
    background-color: rgba(0, 0, 0, 30);
    border: none;
}

NinjamTrackView #receiveButton:hover:!checked
{
    background-color: rgb(255, 40, 40);
    border-color: rgba(0, 0, 0, 90);
}

NinjamTrackView  #channelName               /* channel name for ninjamers */
{
    border: none;
    background-color: rgba(0, 0, 0, 6);
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 160);
    max-width: 130px;
}

NinjamTrackGroupView[horizontal="true"]
{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0.0 #FFD470,
        stop: 0.15 #FDE09B,
        stop: 0.9 #FDE5A9,
        stop: 1.0 #FFA45F
    );
}

NinjamTrackGroupView > #topPanel                /* the track group top panel: used to show user name */
{
    background: rgba(255, 255, 255, 100);
}


/* NinjamPanel is the widget where the ninjam controls are showed (in bottom when we are connected in a server)
----------------------------------------------------------------------------------------------------------------*/
NinjamPanel
{
    background-color: rgba(0, 0, 0, 20);
    border: 1px inset rgba(60, 60, 60, 90);
    border-radius: 3px;
}

MetronomePanel #soloButton,
MetronomePanel #muteButton
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.0 #FDE5A9,
    stop: 1.0 #FFB301);
}

#panelCombos QCheckBox,
#panelCombos QLabel             /* The labels in left side of comboboxes (bpi, bpm, accents and shape) */
{
    color: rgb(40, 40, 40);
}

NinjamPanel QComboBox
{
    background-color: rgba(0, 0, 0, 30);
    selection-background-color: rgba(0, 0, 0, 160);
    selection-color: rgb(254, 181, 102);
}

#panelCombos QComboBox
{
    color: rgb(10, 10, 10);
}

NinjamPanel QComboBox QAbstractItemView
{
border: none;
color: black;
background-color: rgb(184, 147, 121);
selection-background-color: rgba(0, 0, 0, 90);
selection-color: rgb(254, 181, 102);
}

#panelCombos QComboBox:hover
{
    background-color: rgb(184, 149, 124);
}

#comboBpi-topLevel,
#comboBpm-topLevel
{
    border: none;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0.0 rgb(184, 149, 124),
        stop: 0.1 rgb(227, 183, 153),
        stop: 0.45 rgb(227, 183, 153),
        stop: 0.6 rgb(184, 149, 124),
        stop: 1.0 rgb(184, 149, 124));
}

NinjamTrackView  #channelName
{
    selection-background-color: rgb(179, 89, 37);
    selection-color: rgb(254, 181, 102);
}

/* The floating window showing the metronome/interval progress */
IntervalProgressWindow
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 rgb(184, 149, 124),
        stop: 1.0 rgb(209, 169, 141));
}

IntervalProgressDisplay
{
    qproperty-currentBeatColor: rgb(250, 73, 14);
    qproperty-accentsColor: rgb(200, 0, 0); /* dark red */
    qproperty-currentAccentColor: red;
    qproperty-secondaryBeatsColor: rgba(106, 77, 57);
    qproperty-disabledBeatsColor: rgba(106, 77, 57, 30);
    qproperty-linesColor: rgba(0, 0, 0, 50);
}

LooperWindow #buttonPlay:hover:checked
{
    background-color: rgb(0, 215, 0);
}

LooperWindow #buttonRec:hover:checked
{
    background-color: rgb(255, 40, 40);
}

LooperWindow #buttonRec[blinking="true"]:checked
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #FDE5A9,
        stop: 1.0 #FFB301);
}

#widgetBottom QComboBox                         /* the colors inside the combo box*/
{
    border: 1px solid rgba(0, 0, 0, 180);
    border-radius: 2px;
    padding: 1px 3px 1px 3px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #FDE5A9,
        stop: 1.0 #FFB301);
    selection-background-color: rgb(179, 89, 37);
    selection-color: rgb(254, 181, 102);
}

#widgetBottom QComboBox:focus
{
    background-color: rgb(179, 89, 37);
    color: rgb(254, 181, 102);
}

#widgetBottom QComboBox:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #fed87b,
        stop: 1.0 #ffe23b);
}

#widgetBottom QComboBox:focus:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #B35925,
        stop: 1.0 #b4673b);
}

#widgetBottom QComboBox::drop-down
{
    border: 0px;
}

#widgetBottom QComboBox::down-arrow
{
    image:url(:/images/arrow-down.png);
}

#widgetBottom QComboBox::down-arrow:disabled
{
    image:url(:/images/arrow-down-lighter.png);
}

LooperWindow #maxLayersComboBox
{
    min-width: 1em;
}

LooperWindow #comboBoxPlayMode
{
    min-width: 7em;
}

LooperWindow QComboBox QAbstractItemView      /* the colors inside drop down menu of the combo box*/
{
    border: none;
    color: black;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
        stop: 0.0 #FDE5A9,
        stop: 1.0 #FFB301);;
    selection-background-color: rgb(179, 89, 37);
    selection-color: rgb(254, 181, 102);
}

LooperWindow QCheckBox:disabled,
LooperWindow QLabel:disabled
{
    color: rgba(0, 0, 0, 90);
}

#widgetBottom QComboBox:disabled
{
    border: none;
}

LooperWindow QComboBox:disabled
{
    border-color: rgb(227, 183, 153);
}

LooperWindow QLabel,
LooperWindow QGroupBox
{
    color: rgb(40, 40, 40);
}

LooperWindow QGroupBox
{
    border: 1px solid rgba(0, 0, 0, 30);
    border-radius: 2px;
}

LooperWindow QCheckBox
{
    color: rgb(10, 10, 10);
}

LooperWindow #muteButton:disabled
{
    background-color: rgba(0, 0, 0, 20);
    color: rgba(0, 0, 0, 60)
}
