
/* ChatPanel is the widget used to layout all chat controls (messages in a
scroll area, the text input field, but clear and auto translate buttons).
----------------------------------------------*/

ChatPanel #chatText:!focus
{                                           /* text input field used to send chat messages */
    background-color: rgba(0, 0, 0, 40);
    border: 1px solid rgba(0, 0, 0, 60);
}


#topicLabel
{
    color: black;
    background: rgb(110, 110, 110);
}

/* ChatMessagePanel is the widget used to show ONE chat message
----------------------------------------------------------------*/

ChatMessagePanel #labelUserName             /* The name of chat message author */
{
    margin-bottom: 3px;
    color: black;
}


ChatMessagePanel #translateButton,
ChatMessagePanel #blockButton
{
    color: black;
}

ChatMessagePanel #translateButton:hover,     /* hover effect in chat message translate (T) button */
ChatMessagePanel #blockButton:hover
{
    border-color: rgb(60, 60, 60);
    border-style: outset;
    color: rgb(60, 60, 60);
    font-weight: bold;
}

ChatMessagePanel #labelMessage
{
    selection-background-color: rgb(120, 120, 120);
    selection-color: rgb(40, 40, 40);
    color: black;
}
