/*
    This file contain common stylesheet to all tracks: local tracks, ninjam tracks and track groups.
*/


/* Basic boost (-12, 0, +12) button stylesheet:
--------------------------------------*/
#buttonBoost
{
   margin: 0px;
   font-size: 8px;
}

#soloButton,
#muteButton
{
    font-size: 9px;
    border-color: rgb(110,110,110);
    padding: 2px;
    color: rgb(50,50,50);
}

#soloButton:disabled,
#muteButton:disabled
{
    color: rgba(0, 0, 0, 30);
    border-color: rgba(0, 0, 0, 40);
}

/* button stereo inversion */
QPushButton#buttonStereoInversion
{
    background-repeat: none;
    background-position: center center;
    max-width: 8px;
    max-height: 12px;
    background-color: rgb(235, 235, 235);
}

LocalTrackView[unlighted="true"] #buttonStereoInversion
{
    background-color: rgba(0, 0, 0, 30);
}


QPushButton#buttonStereoInversion:!checked
{
    background-image: url(':/images/stereo_normal.png');
}

QPushButton#buttonStereoInversion:checked
{
    background-image: url(':/images/stereo_inverted.png');
}


/* The small label used to show the max peak below peak meters
--------------------------------------------------------------*/

BaseTrackView #peaksDbLabel
{
    font-size: 8px;
    qproperty-alignment: AlignCenter;
    color: rgba(0, 0, 0, 120);
    padding: 1px;
    min-width: 15px;
}
BaseTrackView #peaksDbLabel:hover{
    background-color: rgba(255,255,255, 30);
    color: black;
}

/* Pan slider and LR labels
----------------------------*/
#panSlider
{
    margin-left: 3px;
    margin-right: 3px;
}

#labelPanR,
#labelPanL
{
    color: rgba(0, 0, 0, 160);
    font-size: 9px;
}

BaseMeter
{
    min-width: 20px;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 20);
}

AudioMeter
{
    qproperty-dBMarksColor: black;
}

/*
Peak meter color when the tracks are "disabled". For local tracks this color is
used when xmit is off, and for remote tracks (ninjam tracks) this color is used when
user is not transmiting.
-----------------------------------------------------------------------------------*/

BaseTrackView[unlighted="true"] BaseMeter{
    background-color: rgba(0, 0, 0, 15);
}



/* TrackGroupView is the 'container' for tracks/subchannels in local tracks or ninjam tracks.
----------------------------------------------------------------------------------------------*/

TrackGroupView {
    border: none;
    background-color: none;
}


