/*
    This file contain common stylesheet to Dialogs.
*/

LooperWindow #loadButton,
LooperWindow #resetButton
{
    max-width: 20px;
}

LooperWindow #loadButton::menu-indicator,
LooperWindow #resetButton::menu-indicator
{
    image: none;
}

LooperWindow QGroupBox
{
    border: 1px solid rgb(0, 0, 0, 20);
    padding-top: 9px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

LooperWindow QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    margin-left: 3px;
    margin-right: 3px;
    left: 6px;
}

LooperWindow #muteButton[blinking="true"]
{
    background-color: red;
    border-color: rgb(180, 0, 0);
    border-style: solid;
    color: white;
}

LooperWindow #buttonPlay[blinking="true"]
{
    background-color: rgb(0, 195, 0);
    border-color: black;
    border-style: solid;
}

LooperWindow #buttonRec[blinking="true"]
{
    background-color: yellow;
    border-color: black;
    border-style: solid;
}

PreferencesDialog #buttonAddVstScanFolder
{
    background-image: url(:/images/more.png);
    background-position: center center;
    background-repeat: none;
    margin-right: 12px;
}

PreferencesDialog #blackListWidget
{
    background-color: black;
    color: orange;
}

PreferencesDialog #plainTextEdit
{
    background: transparent;
}

PrivateServerWindow QListWidget,
PrivateServerWindow QTextBrowser
{
    background-color: rgba(255, 255, 255, 15);
    border: none;

}

PreferencesDialog QGroupBox,
MidiToolsDialog QGroupBox,
PreferencesDialog #sampleRateLabel,
PreferencesDialog #bufferSizeLabel,
PreferencesDialog #labelEncoderQuality
{
    font-weight: bold;
}

PreferencesDialog QGroupBox,
MidiToolsDialog QGroupBox
{
    padding-left: 16px;
    padding-top: 12px;
    border: none;
}

PreferencesDialog QGroupBox#groupBoxBuiltInMetronomes[checked=false],
PreferencesDialog QGroupBox#groupBoxCustomMetronome[checked=false]
{
    color: gray;
}

QMessageBox,
QInputDialog,
PluginScanDialog,
MidiToolsDialog
{
    background-color: rgb(220, 220, 220);
    border: 1px outset gray;
    padding: 32px;
}

QInputDialog
{
    min-width: 400px;
}


BusyDialog #labelGif
{
    border: none;
    background-color: rgba(0, 0, 0, 10);
    border-radius: 32px; /* simulate a circle as background */
    max-width: 64px;
    max-height: 64px;
    qproperty-alignment: AlignCenter;
    text-align: center;
}

BusyDialog > QLabel /* the text appearing in Busy dialog, like "connecting in ninbot.com" */
{
    font-weight: bold;
}
