/*
    Stylesheet code for the Main window.
*/

MainWindow
{
    qproperty-tintColor: black;
}

#bottomPanel                                    /* the widget in bottom, used to show master controls and NinjamPanel when connected in a ninjam server */
{
    min-height: 60px;
}


QPushButton#buttonCollapseBottom,
QPushButton#buttonCollapseChat,
QPushButton#buttonCollapseLocalTracks
{
    border: none;
    padding: 1px;
    margin: 0px;
}

QPushButton#buttonCollapseBottom:!checked,
QPushButton#buttonCollapseChat:!checked,
QPushButton#buttonCollapseLocalTracks:!checked
{
    background: none;
}

#labelPerformanceMonitor,
#transmitTransferRateLabel,
#transmitIcon,
#receiveTransferRateLabel,
#receiveIcon
{
    background-color: rgba(0, 0, 0, 30);
    color: rgba(255, 255, 255, 140);
}

#transmitTransferRateLabel,
#receiveTransferRateLabel
{
    padding-left: 0px;
    padding-right: 3px;
}

#transmitIcon,
#receiveIcon
{
    padding-right: 1px;
    padding-left: 3px;
}


/* Zoom buttons in main window right bottom corner */
#zoomInButton,
#zoomOutButton
{
    background: rgba(0, 0, 0, 25);
    max-width: 16px;
    max-height: 16px;
    width: 16px;
    height: 16px;
    padding: 1px;
    margin: 1px;
    border: none;
}

#zoomInButton:hover,
#zoomOutButton:hover
{
    background-color: rgba(255, 255, 255, 60);
}



/* The small arrow used to collapse the local tracks
------------------------------------------------------*/

MainWindow #localControlsCollapseButton                    /* not collapsed */
{
    border: none;
    background: none;
    max-width: 6px;
    width: 6px;
    background-repeat: none;
    background-position: right center;
}

MainWindow #localControlsCollapseButton:checked            /* collapsed (arrow pointing to right side) */
{
   background-position: center center;
}


/* The tabBar used in center/content area
------------------------------------------------------*/
QTabBar::tab
{
    border: none;
    min-width: 8ex;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    color: black;
 }

ChatTabWidget QTabBar::tab,
QTabWidget::tab-bar
{
    left: 0;
}

ChatTabWidget[collapsed="true"]
{
    background: rgba(0, 0, 0, 40);
}

ChatTabWidget[collapsed="true"] QTabBar:tab
{
    /*max-width: 26px;*/
    padding: 6px;
    padding-left: 3px;
    padding-right: 3px;
}

FakeCameraView
{
    color: rgba(0, 0, 0, 180);
    background-color: rgba(0, 0, 0, 50);
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}
