/*
    This file contains common stylesheet used in public rooms list

*/


/* JamRoomViewPanel is the widget used to show a public room
--------------------------------------------------------------*/

JamRoomViewPanel #labelName             /* the server name (ninbot.com, ninjamer.com, etc) */
{
    font-weight: bold;
}

JamRoomViewPanel #labelRoomStatus,      /* the label used to show number of connected users, bpm and bpi */
JamRoomViewPanel  #labelRoomType        /* ninjam or realtime room? Only ninjam at moment. */
{
    font-size: 9px;
    color: rgb(140, 140, 140);
}

JamRoomViewPanel  #labelRoomType
{
    margin-right: 3px;
    margin-bottom: -3px;
}


WavePeakPanel
{
    /* color used to draw the wave form */
    qproperty-peaksColor: rgb(90, 90, 90);

    /* color used to draw the loading circle */
    qproperty-loadingColor: gray;

    /* color used to draw loading percentage text*/
    color: gray;
}
