
JamRoomViewPanel #labelName
{
    font-weight: bold;
}


JamRoomViewPanel #labelRoomStatus,
JamRoomViewPanel  #labelRoomType
{
    font-size: 9px;
    color: rgb(140, 140, 140);
}

JamRoomViewPanel  #labelRoomType
{
    margin-right: 3px;
    margin-bottom: -3px;
}
