/*
    This file contains common stylesheet used in public rooms list

*/


/* JamRoomViewPanel is the widget used to show a public room
--------------------------------------------------------------*/

JamRoomViewPanel #labelName             /* the server name (ninbot.com, ninjamer.com, etc) */
{
    font-weight: bold;
}

JamRoomViewPanel #labelRoomStatus,      /* the label used to show number of connected users, bpm and bpi */
JamRoomViewPanel  #labelRoomType        /* ninjam or realtime room? Only ninjam at moment. */
{
    font-size: 9px;
    color: rgb(140, 140, 140);
}

JamRoomViewPanel  #labelRoomType
{
    margin-right: 3px;
    margin-bottom: -3px;
}


/* empty rooms */
JamRoomViewPanel[empty="true"] #content
{
    background: rgb(253, 253, 253, 85);
}


JamRoomViewPanel[empty="true"]
{
    background-color: rgba(0, 0, 0, 15);
    border: none;
}

JamRoomViewPanel[empty="true"] #labelRoomStatus
{
    color: rgba(0, 0, 0, 90);
}

JamRoomViewPanel[empty="true"] #labelName
{
    font-weight: normal;
}



WavePeakPanel
{
    /* color used to draw the wave form */
    qproperty-peaksColor: rgb(90, 90, 90);

    /* color used to draw the loading circle */
    qproperty-loadingColor: rgb(240, 240, 240);
}
